Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.4
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: ""
    hooks:
      - id: prettier
        args: ['--write']
        files: '\.jsx?$'
  - repo: local
    hooks:
      - id: check-header-py
        name: Check for license header in Python files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(py)$'
        exclude: '^$'
      - id: check-header-js
        name: Check for license header in JS files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(js)$'
        exclude: '^$'
      - id: check-cli-readme
        name: Check if the CLI Readme needs an update
        entry: .precommit/check_cli_readme.sh
        language: system
      - id: check-ui-tests
        name: Check if UI tests are passing
        entry: poetry run ui-test
        language: system

Fix: Load documents from the knowledge pack regardless of case sensitivity in embedding provider names
  app/knowledge/documents.py
Due: check-header-py

add custom input area for chat
  ui/src/app/_chat.js
  ui/src/styles/globals.css
Due: check-header-js

Add user feedback functionality
  ui/src/pages/_app.js
  ui/src/styles/globals.css
Due: check-header-js

Change feedback icon colour on hovering
  ui/src/styles/globals.css
Due: none

Fix card title overflowing when title is lengthy
  ui/src/styles/globals.css
Due: none

Add support for claude 3.5 with anthropic
  app/.env.anthropic.template
  app/config.yaml
  app/config_service.py
  app/llms/model_config.py
  app/main.py
Due: check-header-py

Make feedback icon responsive for small screen size
  ui/src/styles/globals.css
Due: none

Add document through chat and similarity query generation
  app/llms/chats.py
  ui/src/app/_prompt_chat.js
Due: check-header-py, check-header-js

Bring back pink highlighting in prompt preview
  ui/src/app/_prompt_preview.js
  ui/src/styles/globals.css
Due: check-header-js

Add "pin" action to follow-up results
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-js

Fix prompt preview for cards
  ui/src/pages/_cards-chat.js
  ui/src/pages/requirements.js
  ui/src/pages/story-validation.js
  ui/src/pages/threat-modelling.js
Due: check-header-js

Cards chat: Fix disclaimer positioning
  ui/src/pages/_cards-chat.js
Due: check-header-js

Story validation: /cards instead of fixed page
  app/api/api_story_validation.py
  app/api/boba_api.py
  app/resources/prompts_guided/given_when_then.md
  app/resources/prompts_guided/invest_critique.md
  app/resources/prompts_guided/prompt_flows.yaml
  app/resources/prompts_guided/story_validation.md
  app/resources/prompts_guided/story_validation_summary.md
  app/server.py
  app/tests/test_api.py
  ui/src/app/_navigation_items.js
  ui/src/pages/_sidebar.js
  ui/src/pages/story-validation.js
Due: check-header-py, check-header-js

Threat modelling: /cards instead of fixed page
  app/resources/prompts_guided/threat_modelling.md
  app/server.py
  ui/src/__tests__/_sidebar.test.js
  ui/src/__tests__/threat-modelling.test.js
  ui/src/app/_navigation_items.js
  ui/src/pages/_sidebar.js
  ui/src/pages/threat-modelling.js
Due: check-header-py, check-header-js

Mention KP in context tooltip
  ui/src/app/_context_choice.js
Due: check-header-js

Fix: JSONChat should use session memory
  app/llms/chats.py
Due: check-header-py

chore: Remove console.log
  ui/src/pages/index.js
Due: check-header-js

Button "REGENERATE" when content already exists
  ui/src/pages/_cards-chat.js
Due: check-header-js

Cards: "Generate more cards" button
  app/api/api_basics.py
  ui/src/__tests__/_cards_chat.test.js
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-py, check-header-js

Update similarity query prompt
  app/api/api_basics.py
  app/llms/chats.py
Due: check-header-py

Introduce simple feature toggle capability via localStorage
  ui/src/app/_local_store.js
  ui/src/pages/_app.js
Due: check-header-js

Experiment: "Iterate" on cards
  app/api/api_basics.py
  ui/src/app/_card_actions.js
  ui/src/app/_cards-list.js
  ui/src/pages/_cards-chat.js
Due: check-header-py, check-header-js

Display Prompt description as Chat Input text area Placeholder. Add page title
  app/resources/styles/haiven.css
  ui/src/app/_chat.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_chat_header.js
  ui/src/pages/_disclaimer.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/styles/globals.css
Due: check-header-js

Mock Pro-chat component
  ui/src/__tests__/_prompt_chat.test.js
Due: check-header-js

Add initial Advanced Prompting menu with prompt preview alone initially. Remove prompt preview from non-chat pages
  ui/src/app/_chat.js
  ui/src/app/_prompt_chat.js
  ui/src/styles/globals.css
Due: check-header-js

Update title with tooltip
  ui/src/app/_prompt_chat.js
  ui/src/pages/_chat_header.js
  ui/src/styles/globals.css
Due: check-header-js

Display Prompt description as Chat Input text area Placeholder. Add page title
  ui/src/app/_prompt_chat.js
Due: check-header-js

fix error which was missed on rebase
  ui/src/app/_prompt_chat.js
Due: check-header-js

Add Document and Context under Advanced prompting Menu
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_chat.js
  ui/src/app/_context_choice.js
  ui/src/app/_prompt_chat.js
  ui/src/styles/globals.css
Due: check-header-js

Refactor and removed unused code
  app/api/api_basics.py
  app/llms/chats.py
  app/tests/test_chats.py
Due: check-header-py
