Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.4
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: ""
    hooks:
      - id: prettier
        args: ['--write']
        files: '\.jsx?$'
  - repo: local
    hooks:
      - id: check-header-py
        name: Check for license header in Python files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(py)$'
        exclude: '^$'
      - id: check-header-js
        name: Check for license header in JS files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(js)$'
        exclude: '^$'
      - id: check-cli-readme
        name: Check if the CLI Readme needs an update
        entry: .precommit/check_cli_readme.sh
        language: system
      - id: check-ui-tests
        name: Check if UI tests are passing
        entry: poetry run ui-test
        language: system

Experiment: "Iterate" on cards
  app/api/api_basics.py
  ui/src/app/_card_actions.js
  ui/src/app/_cards-list.js
  ui/src/pages/_cards-chat.js
Due: check-header-py, check-header-js

Introduce simple feature toggle capability via localStorage
  ui/src/app/_local_store.js
  ui/src/pages/_app.js
Due: check-header-js

Button "REGENERATE" when content already exists
  ui/src/pages/_cards-chat.js
Due: check-header-js

Add upload Image Menu under Advanced Prompting menu
  ui/src/app/_chat.js
  ui/src/app/_image_description.js
  ui/src/app/_prompt_chat.js
  ui/src/styles/globals.css
Due: check-header-js

Fix chat header height. Refactor menu param
  ui/src/app/_chat.js
  ui/src/app/_prompt_chat.js
  ui/src/styles/globals.css
Due: check-header-js

Remove obsolete endpoint
  app/server.py
Due: check-header-py

Upgrade app/ Python libraries
  app/poetry.lock
  app/pyproject.toml
Due: none

Upgrade langchain in app/
  app/poetry.lock
  app/pyproject.toml
Due: none

Upgrade cli/ python libraries
  cli/poetry.lock
  cli/pyproject.toml
Due: none

Upgrade ui/ node libraries
  ui/package.json
  ui/yarn.lock
Due: none

Fixing cross-spawn security vuln in dependency
  ui/yarn.lock
Due: none

Embeddings from contexts: Do not log as an error
  app/api/api_basics.py
  app/knowledge/documents.py
  app/knowledge_manager.py
  app/logger.py
Due: check-header-py

README: Add link to request form for TWers
  README.md
Due: none

Add advanced promting view for senario design
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_cards-list.js
  ui/src/app/_chat.js
  ui/src/app/_image_description.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/scenarios.js
  ui/src/styles/globals.css
Due: check-header-js

Fix chat conatiner height
  ui/src/styles/globals.css
Due: none

Add advanced promting view for requirements
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/styles/globals.css
Due: check-header-js

Append prompt options to user input for only the first chat
  ui/src/app/_chat.js
  ui/src/app/_prompt_chat.js
  ui/src/styles/globals.css
Due: check-header-js

Remove prompt preview link from cards chat pages
  ui/src/pages/_cards-chat.js
Due: check-header-js

[WIP:test-failing] Add advanced promting view cards chat
  ui/src/app/_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/styles/globals.css
Due: check-header-js

Fix: Chat with card in Threat modelling
  app/api/api_multi_step.py
  app/tests/test_api.py
Due: check-header-py

Temporary fix. Remove suggestions in the UI if it is empty in chat exploration page
  ui/src/pages/_chat_exploration.js
Due: check-header-js

Removed code of previous prompt preview panel.Use the user input to reneder prompt preview
  ui/src/app/_chat.js
  ui/src/app/_prompt_chat.js
  ui/src/app/_prompt_preview.js
Due: check-header-js

Fix failing test and userinput not being send in request
  ui/src/__tests__/_cards_chat.test.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
Due: check-header-js

Add advanced prompting view for Creative matrix
  ui/src/pages/creative-matrix.js
  ui/src/styles/globals.css
Due: check-header-js

Open Advanced prompting panel by default
  ui/src/pages/creative-matrix.js
  ui/src/styles/globals.css
Due: check-header-js

Automatically close advanced prompt view after response generation
  ui/src/pages/creative-matrix.js
Due: check-header-js

Add semgrep oss scan in github action
  .github/workflows/semgrep.yml
Due: none

Fix senario design to be open by default
  ui/src/pages/scenarios.js
Due: check-header-js

Disable advanced prompting options after generating response
  ui/src/pages/creative-matrix.js
Due: check-header-js

Display loader while generating response
  ui/src/pages/creative-matrix.js
Due: check-header-js

Fix advance promting shown when empty
  ui/src/app/_chat.js
Due: check-header-js

Fix missing user in docker and subprocess shell being true
  Dockerfile
  devscripts/main.py
Due: check-header-py

Fix senario design explore failing to respond
  ui/src/pages/scenarios.js
Due: check-header-js

Add semgrep sarif to be uploaded to github security
  .github/workflows/semgrep.yml
Due: none

Add permisson to write for security events
  .github/workflows/semgrep.yml
Due: none

fix missing integrity by adding font in resource
  app/resources/html_templates/auth_error.html
  app/resources/html_templates/index.html
  app/resources/static/assets/fontawesome/all.min.css
  app/resources/static/assets/fontawesome/fa-regular-400.woff2
  app/resources/static/assets/fontawesome/fa-solid-900.woff2
Due: none

fix direct use of jinja vulnarability
  app/server.py
Due: check-header-py

Add semgrep run in pre-commit and in github ci/cd
  .github/workflows/semgrep.yml
  .pre-commit-config.yaml
Due: none

Fix semgrep scan severity tag to ERROR
  .github/workflows/semgrep.yml
Due: none

Display welcome and disclaimer message with guidelines
  app/api/api_basics.py
  app/api/boba_api.py
  app/app.py
  app/config/constants.py
  app/welcome_message.py
  ui/src/__tests__/_index.test.js
  ui/src/app/_boba_api.js
  ui/src/app/_layout.js
  ui/src/app/_welcome_popup.js
  ui/src/pages/about.js
  ui/src/pages/index.js
Due: check-header-py, check-header-js
