Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

check-header-py:
  name: Check for license header in Python files
  entry: .precommit/check_header.sh
  language: system

check-header-js:
  name: Check for license header in JS files
  entry: .precommit/check_header.sh
  language: system

Add side bar item Delivery Management under feature toggle
  ui/src/__tests__/_sidebar.test.js
  ui/src/app/_navigation_items.js
  ui/src/app/feature_toggles_env.js
  ui/src/pages/_sidebar.js
Due: check-header-js

Upgrade dependencies
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  ui/package.json
  ui/src/app/_markdown_renderer.js
  ui/src/app/_prompt_preview.js
  ui/yarn.lock
Due: check-header-js

Upgrade h11's version to fix security alert
  app/poetry.lock
  cli/poetry.lock
Due: none

Change to the existing form of toggle from the browser local store
  ui/src/__tests__/_sidebar.test.js
  ui/src/__tests__/feature_toggle.test.js
  ui/src/app/_navigation_items.js
  ui/src/app/feature_toggle.js
  ui/src/app/feature_toggles_env.js
  ui/src/pages/_sidebar.js
Due: check-header-js

Fix formatting
  ui/src/__tests__/_sidebar.test.js
  ui/src/__tests__/feature_toggle.test.js
  ui/src/app/_navigation_items.js
Due: check-header-js

Run Test job as pull request check
  .github/workflows/main.yml
Due: none

Update README.md to remove references of old UI
  README.md
Due: none

Make Test-Build jobs to run only after semgrep finishes running instead of waiting for it to complete; Remove Semgrep from pre-commit as it is already run as a separate job;
  .github/workflows/main.yml
  .pre-commit-config.yaml
Due: none

Remove README from skipped list so that Test job runs even there is a change in README as there is a possibility of secrets being pushed
  .github/workflows/main.yml
Due: none

test commit
  app/server.py
Due: check-header-py

Move Semgrep job to the workflow file where Test and Build already exists as it is to make semgrep job as dependency for Test job to run
  .github/workflows/main.yml
  .github/workflows/semgrep.yml
Due: none

Add company-research functionality
  app/config.yaml
  ui/src/__tests__/_cards_chat.test.js
  ui/src/app/_cards-list.js
  ui/src/app/_enrich_card.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_citations.js
  ui/src/pages/company-research-new.js
  ui/src/pages/company-research.js
  ui/src/styles/globals.css
Due: check-header-js

Include all files to trigger build so that any secrets commited to these files are also captured in GitLeaks scan
  .github/workflows/main.yml
Due: none

Remove the company-research-new page
  ui/src/pages/company-research-new.js
  ui/src/pages/company-research.js
Due: check-header-js

Minor formatting
  .github/workflows/main.yml
Due: none

Modify chunk-size:300 and chunk-overlap:50 inorder to fine tune RAG
  cli/haiven_cli/services/knowledge_service.py
  cli/tests/test_knowledge_service.py
Due: check-header-py

Add search icon for company-research
  ui/src/__tests__/_sidebar.test.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_sidebar.js
Due: check-header-js

Use perplexity for company-research
  app/api/api_basics.py
  ui/src/__tests__/_cards_chat.test.js
  ui/src/pages/_cards-chat.js
Due: check-header-py, check-header-js

Revert "Use perplexity for company-research"
  app/api/api_basics.py
  ui/src/__tests__/_cards_chat.test.js
  ui/src/pages/_cards-chat.js
Due: check-header-py, check-header-js

Add download option to download individual prompts(except guided);Add options to download all prompts and download prompts by category in Knowledge overview page
  app/api/api_basics.py
  app/api/api_company_research.py
  app/api/api_creative_matrix.py
  app/api/api_multi_step.py
  app/api/api_scenarios.py
  app/prompts/prompts.py
  app/tests/test_api.py
  ui/package.json
  ui/src/__tests__/_download_prompt.test.js
  ui/src/app/_download_all_prompts.js
  ui/src/app/_download_prompt.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/knowledge.js
  ui/src/styles/globals.css
  ui/yarn.lock
Due: check-header-py, check-header-js

Put download prompt feature under feature toggle
  ui/src/app/_download_prompt.js
  ui/src/app/feature_toggle.js
Due: check-header-js

Revert "Put download prompt feature under feature toggle"
  ui/src/app/_download_prompt.js
  ui/src/app/feature_toggle.js
Due: check-header-js

Move the logic to fetch local storage details inside useEffect
  ui/src/app/_download_all_prompts.js
  ui/src/app/_download_prompt.js
  ui/src/app/feature_toggle.js
Due: check-header-js

WIP for onboarding
  ui/src/app/_navigation_items.js
Due: check-header-js

Refactor download prompts code to remive duplication
  ui/src/app/_download_all_prompts.js
  ui/src/app/_download_prompt.js
Due: check-header-js

Add the new file promptDownloadUtils
  ui/src/app/_download_all_prompts.js
  ui/src/app/_download_prompt.js
  ui/src/app/utils/promptDownloadUtils.js
Due: check-header-js

Use prompt file name instead of prompt title
  app/prompts/prompts.py
  ui/src/app/utils/promptDownloadUtils.js
Due: check-header-py, check-header-js

Log hashed user id and prompt id when a prompt gets download for anlytics purpose
  app/api/api_basics.py
Due: check-header-py

Add test for promptDownload related functions
  ui/src/__tests__/utils/promptDownloadUtils.test.js
Due: check-header-js

Remove enrich card feature toggle and add submit form buttom
  ui/src/app/_enrich_card.js
  ui/src/pages/_app.js
  ui/src/pages/_header.js
Due: check-header-js

Make follow up input bigger
  ui/src/pages/_cards-chat.js
Due: check-header-js

Refactor feature toggles: Init in App, pass on the object
  ui/src/__tests__/_index.test.js
  ui/src/__tests__/_local_store.test.js
  ui/src/__tests__/_sidebar.test.js
  ui/src/__tests__/feature_toggle.test.js
  ui/src/app/_download_all_prompts.js
  ui/src/app/_download_prompt.js
  ui/src/app/_local_store.js
  ui/src/app/_navigation_items.js
  ui/src/app/_prompt_chat.js
  ui/src/app/feature_toggle.js
  ui/src/pages/_app.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_sidebar.js
  ui/src/pages/chat.js
  ui/src/pages/index.js
  ui/src/pages/knowledge-chat.js
  ui/src/pages/knowledge.js
Due: check-header-js

Toggle "THOUGHTWORKS": Show/hide in sidebar and dashboard
  ui/src/__tests__/_index.test.js
  ui/src/__tests__/_sidebar.test.js
  ui/src/app/_navigation_items.js
  ui/src/app/feature_toggle.js
  ui/src/pages/_app.js
  ui/src/pages/_sidebar.js
  ui/src/pages/index.js
Due: check-header-js

Add server-side feature toggles
  .vscode/launch.json
  app/api/api_features.py
  app/api/boba_api.py
  ui/src/__tests__/feature_toggle.test.js
  ui/src/app/feature_toggle.js
  ui/src/pages/_app.js
Due: check-header-py, check-header-js

Load new prompt attribute: "grounded" true/false
  app/prompts/prompts.py
  app/tests/test_prompts.py
Due: check-header-py

Use "grounded" to decide if Perplexity should be used
  app/api/api_basics.py
  app/resources/prompts_guided/company_research.md
  app/tests/test_api.py
  ui/src/__tests__/_cards_chat.test.js
  ui/src/__tests__/_sidebar.test.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_sidebar.js
  ui/src/styles/globals.css
Due: check-header-py, check-header-js

Path conditions:
  check-header-py: any of: \.(py)$, but not: ^$
  check-header-js: any of: \.(js)$, but not: ^$
