Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

check-header-py:
  name: Check for license header in Python files
  entry: .precommit/check_header.sh
  language: system

check-header-js:
  name: Check for license header in JS files
  entry: .precommit/check_header.sh
  language: system

Display welcome and disclaimer message with guidelines
  app/tests/test_api.py
Due: check-header-py

Change Welcome message api response format
  app/welcome_message.py
  ui/src/app/_welcome_popup.js
  ui/src/pages/about.js
Due: check-header-py, check-header-js

Show welcome message before login
  ui/src/pages/_app.js
Due: check-header-js

Revert "Show welcome message before login"
  ui/src/pages/_app.js
Due: check-header-js

Execute test workflow if semgrep scan is completed
  .github/workflows/main.yml
Due: none

Fix logging user name with hashed user id
  app/server.py
Due: check-header-py

add prompt id for logging in missing api endpoints
  app/api/api_creative_matrix.py
  app/api/api_requirements.py
  app/api/api_scenarios.py
Due: check-header-py

Add about section to server response paths
  app/server.py
Due: check-header-py

Enhance AboutPage styling for Markdown components in guidelines section
  ui/src/pages/about.js
Due: check-header-js

Refactor WelcomePopup to enhance Markdown rendering with custom styles for headers and paragraphs
  ui/src/app/_welcome_popup.js
Due: check-header-js

Fix chat exploration window reset session for new exploration
  ui/src/pages/_chat_exploration.js
Due: check-header-js

Add senario queries for cards chat
  app/prompts/prompts.py
  ui/src/pages/_cards-chat.js
Due: check-header-py, check-header-js

Update upload-artifact action's version to v4 from v3
  .github/workflows/semgrep.yml
Due: none

Add AI ideas feature and enhance image description edit functionality
  ui/src/app/_ai_ideas.js
  ui/src/app/_chat.js
  ui/src/app/_image_description.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_chat_exploration.js
  ui/src/pages/index.js
  ui/src/pages/knowledge-chat.js
  ui/src/styles/globals.css
Due: check-header-js

Add view prompt for cards chat pages
  ui/src/app/_prompt_preview.js
  ui/src/pages/_cards-chat.js
Due: check-header-js

Revert "Add AI ideas feature and enhance image description edit functionality"
  ui/src/app/_ai_ideas.js
  ui/src/app/_chat.js
  ui/src/app/_image_description.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_chat_exploration.js
  ui/src/pages/index.js
  ui/src/pages/knowledge-chat.js
  ui/src/styles/globals.css
Due: check-header-js

Changes which was missed as part of revert merge conflict
  ui/src/pages/_cards-chat.js
Due: check-header-js

update antd and ui library versions
  ui/next.config.js
  ui/package.json
  ui/yarn.lock
Due: check-header-js

Introduce Retry llm calls when token per minute limit exceeds
  app/llms/clients.py
  app/llms/image_description_service.py
  app/llms/litellm_wrapper.py
  app/poetry.lock
  app/pyproject.toml
Due: check-header-py

Fix linting. Remive unused imports
  app/llms/clients.py
  app/llms/image_description_service.py
  app/llms/litellm_wrapper.py
Due: check-header-py

Fix test
  app/tests/test_image_description_service.py
Due: check-header-py

Upgrade Jinja
  app/poetry.lock
  app/pyproject.toml
Due: none

Trigger haiven prod deployment post Haiven workflow run
  .github/workflows/main.yml
Due: none

Enhance image description edit and delete functionality
  ui/src/app/_image_description.js
Due: check-header-js

Update token to trigger demo deployment as the current one is expired
  .github/workflows/main.yml
Due: none

Add codified section to dashboard
  ui/src/pages/index.js
  ui/src/styles/globals.css
Due: check-header-js

Upgrade dependencies
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  ui/package.json
  ui/yarn.lock
Due: none

Upgrade Katex sub dependency
  ui/yarn.lock
Due: none

Add previous senario data for explore chat when context is not selected
  app/api/api_multi_step.py
Due: check-header-py

Fix style of the dashboard with codified practices
  ui/src/pages/index.js
  ui/src/styles/globals.css
Due: check-header-js

Fix: Show error message when chat session expires
  app/llms/chats.py
  ui/src/app/_prompt_chat.js
  ui/src/pages/_chat_exploration.js
Due: check-header-py, check-header-js

Remove custom hello message
  ui/src/app/_prompt_chat.js
Due: check-header-js

Fix chat input text area placeholder alignment issue
  ui/src/app/_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/styles/globals.css
Due: check-header-js

WIP: add test dataset generation
  app/llms/chats.py
  cli/evals/dataset.csv
  cli/evals/test_data.py
Due: check-header-py

replace antd's message with react-toastify's toast as it is simpler to use
  ui/package.json
  ui/src/__tests__/_cards_chat.test.js
  ui/src/__tests__/_pinboard.test.js
  ui/src/app/_card_actions.js
  ui/src/app/_cards-list.js
  ui/src/app/_chat.js
  ui/src/app/_fetch_sse.js
  ui/src/app/_image_description.js
  ui/src/app/_local_store.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/pinboard.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/yarn.lock
Due: check-header-js

Add Toastcontainer to hold the toast alert messages
  ui/src/pages/_app.js
Due: check-header-js

Remove setting setpromptId to false so that query from prompt preview should not use prompt id
  ui/src/app/_prompt_chat.js
Due: check-header-js

Change style for feedback icon for smaller screen size
  ui/src/styles/globals.css
Due: none

Move delete action to default actions from extended actions as extnded actions isn't working in pro-chat anymore
  ui/src/app/_chat.js
Due: check-header-js

Fix request param for auth_error template when user has not logged in
  app/resources/html_templates/auth_error.html
  app/server.py
Due: check-header-py

Path conditions:
  check-header-py: any of: \.(py)$, but not: ^$
  check-header-js: any of: \.(js)$, but not: ^$
