Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.4
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: ""
    hooks:
      - id: prettier
        args: ['--write']
        files: '\.jsx?$'
  - repo: local
    hooks:
      - id: check-header-py
        name: Check for license header in Python files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(py)$'
        exclude: '^$'
      - id: check-header-js
        name: Check for license header in JS files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(js)$'
        exclude: '^$'
      - id: check-cli-readme
        name: Check if the CLI Readme needs an update
        entry: .precommit/check_cli_readme.sh
        language: system
      - id: check-ui-tests
        name: Check if UI tests are passing
        entry: poetry run ui-test
        language: system

Refactoring - Moved card actions to a component
  ui/src/app/_card_actions.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/threat-modelling.js
  ui/src/styles/globals.css
Due: check-header-js

Some fixes and restyling of multi-step
  ui/src/pages/multi-step.js
  ui/src/styles/globals.css
Due: check-header-js

env: Set the app/.venv path as the default Python interpreter
  .vscode/settings.json
Due: none

Consistency: use 'identifier' key instead of 'id' for prompts
  app/prompts/prompts.py
  app/resources/prompts_guided/prompt_flows.yaml
  app/tests/test_data/test_knowledge_pack/prompts/chat/prompt_flows.yaml
  app/tests/test_prompts.py
Due: check-header-py

Integrate follow-up prompts with UI
  app/api/api_basics.py
  ui/src/app/_boba_api.js
  ui/src/pages/multi-step.js
  ui/src/styles/globals.css
Due: check-header-py, check-header-js

Load cards prompts from knowledge pack, not /resources
  app/api/api_basics.py
  app/api/boba_api.py
  app/prompts/prompts.py
  app/tests/test_api.py
  app/tests/test_prompts.py
  ui/src/app/_boba_api.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_sidebar.js
  ui/src/pages/cards.js
  ui/src/pages/index.js
Due: check-header-py, check-header-js

Fully configure story validation flow
  app/api/api_multi_step.py
  app/resources/prompts_guided/given_when_then.md
  app/resources/prompts_guided/invest_critique.md
  app/resources/prompts_guided/prompt_flows.yaml
  app/resources/prompts_guided/story_validation_summary.md
Due: check-header-py

multi-step -> cards?promptId
  app/resources/prompts_guided/story_validation.md
  ui/src/pages/_cards-chat.js
  ui/src/pages/cards.js
Due: check-header-js

Refreshed poetry.lock (minor version updates)
  app/poetry.lock
Due: none

Add missing test for /api/prompts
  app/tests/test_api.py
Due: check-header-py

Support configuration of follow-up prompts
  app/api/api_basics.py
  app/prompts/prompts.py
  app/tests/test_data/test_knowledge_pack/prompts/chat/prompt_flows.yaml
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-2-coding.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-3-business-nocat-w-system.md
  app/tests/test_prompts.py
Due: check-header-py

Fix hard-coded title
  ui/src/pages/multi-step.js
Due: check-header-js

env: Copilot update, settings format changed
  .vscode/settings.json
Due: none

Cleanup: Rename and type argument properly
  app/api/api_basics.py
  app/tests/test_api.py
Due: check-header-py

First draft of "multi-step" page
  app/api/api_multi_step.py
  app/api/boba_api.py
  app/resources/prompts_guided/story_validation.md
  app/resources/prompts_guided/story_validation_summary.md
  app/tests/test_api.py
  app/tests/test_data/test_knowledge_pack/prompts/guided/first-step-prompt-1234.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/follow-up-prompt-2345.md
  app/tests/utils.py
  ui/src/pages/multi-step.js
Due: check-header-py, check-header-js

Make exploration work more generically
  app/api/api_multi_step.py
  app/api/api_requirements.py
  app/api/api_scenarios.py
  app/api/api_threat_modelling.py
  app/api/boba_api.py
  app/api/models/explore_request.py
  app/prompts/prompts.py
  app/tests/test_api.py
  ui/src/app/_card_actions.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_chat_exploration.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/threat-modelling.js
Due: check-header-py, check-header-js

Formatting - pre-commit in Actions failing, my local not?
  app/tests/utils.py
  ui/src/pages/requirements.js
Due: check-header-py, check-header-js

Add loading and stop button in card pages
  ui/src/pages/_cards-chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/story-validation.js
  ui/src/pages/threat-modelling.js
  ui/src/styles/globals.css
Due: check-header-js

Fix: Q&A cards now show content again
  ui/src/pages/story-validation.js
Due: check-header-js

Move Chat Exploration component back to the individual pages from the card_actions component
  ui/src/app/_card_actions.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/threat-modelling.js
Due: check-header-js

Add padding to the chat and fix styles
  ui/src/app/_chat.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/story-validation.js
  ui/src/pages/threat-modelling.js
  ui/src/styles/globals.css
Due: check-header-js

Fix width of the prompt panel
  ui/src/styles/globals.css
Due: none

Make it possible to have editable results for cards prompts
  app/prompts/prompts.py
  app/tests/test_prompts.py
  ui/src/pages/_cards-chat.js
Due: check-header-py, check-header-js

Update the cards chat to use CardActions
  ui/src/pages/_cards-chat.js
Due: check-header-js

Add a test for the "cards chat" page
  ui/src/__tests__/_cards_chat.test.js
  ui/src/app/_context_choice.js
  ui/src/pages/_cards-chat.js
Due: check-header-js

Render dynamic properties in the cards
  ui/src/__tests__/_cards_chat.test.js
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-js

Revert "Add padding to the chat and fix styles"
  ui/src/app/_chat.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/story-validation.js
  ui/src/pages/threat-modelling.js
  ui/src/styles/globals.css
Due: check-header-js

Add card actions back in (merge failure)
  ui/src/pages/_cards-chat.js
Due: check-header-js

Bring back the editable property (merge failure)
  ui/src/__tests__/_cards_chat.test.js
  ui/src/pages/_cards-chat.js
Due: check-header-js

Fix stop button in non chat screen
  ui/src/app/_image_description.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/story-validation.js
  ui/src/pages/threat-modelling.js
  ui/src/styles/globals.css
Due: check-header-js

Make abort load first step when there invalid json. To fix multiple error message
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/story-validation.js
  ui/src/pages/threat-modelling.js
Due: check-header-js

Strip characters before JSON response to prevent parsing errors
  ui/src/pages/_cards-chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/story-validation.js
  ui/src/pages/threat-modelling.js
Due: check-header-js

Do not show properties that have key "hidden"
  ui/src/pages/_cards-chat.js
Due: check-header-js

Fix "findDomNode is deprecated" warning
  ui/src/app/_help_tooltip.js
  ui/src/styles/globals.css
Due: check-header-js

Fix: Chat Exploration Window - Persisting scenario in chat even after scenario change without closing the window
  ui/src/pages/_chat_exploration.js
Due: check-header-js

Add max width for chat and responsive height
  ui/src/app/_chat.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/story-validation.js
  ui/src/pages/threat-modelling.js
  ui/src/styles/globals.css
Due: check-header-js

Add prompt chat header padding left
  ui/src/app/_prompt_chat.js
Due: check-header-js

Fix the height of the stop button
  ui/src/app/_image_description.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/story-validation.js
  ui/src/pages/threat-modelling.js
  ui/src/styles/globals.css
Due: check-header-js

Fix chat container style with removing justify center
  ui/src/styles/globals.css
Due: none

In process stream data, trim till array symbol occurs. tests for processing streaming data logic for cards
  ui/src/__tests__/_cards_chat.test.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/story-validation.js
  ui/src/pages/threat-modelling.js
Due: check-header-js
