Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

check-header-py:
  name: Check for license header in Python files
  entry: .precommit/check_header.sh
  language: system

check-header-js:
  name: Check for license header in JS files
  entry: .precommit/check_header.sh
  language: system

[WIP] Allow one level of hierarchy on cards chat
  ui/src/__tests__/_cards_chat.test.js
  ui/src/app/_cards-list.js
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-js

Update AI custom rules
  .cursorrules
  .windsurfrules
Due: none

#361 | Change folder format of context to file format
  app/api/api_basics.py
  app/knowledge/markdown.py
  app/knowledge/pack.py
  app/knowledge_manager.py
  ui/src/pages/_app.js
Due: check-header-py, check-header-js

Revert "#361 | Change folder format of context to file format"
  app/api/api_basics.py
  app/knowledge/markdown.py
  app/knowledge/pack.py
  app/knowledge_manager.py
  ui/src/pages/_app.js
Due: check-header-py, check-header-js

Add company-research to supported boba routes
  app/server.py
Due: check-header-py

Mermaid rendering
  app/config/constants.py
  ui/package.json
  ui/src/app/_markdown_renderer.js
  ui/src/app/_mermaid_diagram.js
  ui/src/pages/markdown-test.js
  ui/yarn.lock
Due: check-header-py, check-header-js

Scaled diagram view in modal
  ui/src/app/_mermaid_diagram.js
Due: check-header-js

Zoomable diagram modal
  ui/package.json
  ui/src/app/_mermaid_diagram.js
  ui/src/app/_zoomable_diagram.js
  ui/src/styles/globals.css
Due: check-header-js

Fail pre-commit hook immediately on linting fails
  .pre-commit-config.yaml
Due: none

Update AI rules
  .cursorrules
  .windsurfrules
Due: none

System prompt: More markdown conventions
  app/config/constants.py
Due: check-header-py

Follow ups: Show description in title
  ui/src/pages/_cards-chat.js
Due: check-header-js

Suppress "No data" icon
  ui/src/pages/_app.js
Due: check-header-js

Feature: AI self-review on cards
  docs/knowledge_packs.md
  ui/src/__tests__/_dynamic_data_renderer.test.js
  ui/src/app/_card_actions.js
  ui/src/app/_cards-list.js
  ui/src/app/_dynamic_data_renderer.js
  ui/src/styles/globals.css
Due: check-header-js

Collapsible input area for cards chat
  ui/src/app/_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-js

Remove debug console.log
  ui/src/app/_card_actions.js
Due: check-header-js

#361 | Change folder format of context to file format
  app/api/api_basics.py
  app/knowledge/markdown.py
  app/knowledge/pack.py
  app/knowledge_manager.py
  app/tests/test_api.py
  app/tests/test_data/test_knowledge_pack/contexts/context_a.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/architecture.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/business_context.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/frontend_coding_patterns.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b/.gitkeep
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-1-architecture.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-2-coding.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-3-business-nocat-w-system.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-5-user-input-help.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/first-step-prompt-1234.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/follow-up-prompt-2345.md
  app/tests/test_knowledge_pack.py
  app/tests/test_prompts.py
  app/tests/utils.py
  ui/src/pages/_app.js
Due: check-header-py, check-header-js

Add user defined contexts to context dropdown.
  app/api/api_basics.py
  app/prompts/prompts.py
  app/tests/test_api.py
  app/tests/test_knowledge_documents.py
  app/tests/test_prompts.py
  ui/src/__tests__/_add_user_content.test.js
  ui/src/__tests__/_local_store.test.js
  ui/src/app/_add_user_content.js
  ui/src/app/_context_choice.js
  ui/src/app/_local_store.js
  ui/src/app/_prompt_chat.js
  ui/src/app/_prompt_preview.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/pinboard.js
Due: check-header-py, check-header-js

Fix formatting
  ui/src/app/_prompt_chat.js
Due: check-header-js

Fix formatting
  app/api/api_basics.py
Due: check-header-py

#361 | Add logs for debugging
  app/knowledge/pack.py
Due: check-header-py

Revert "Collapsible input area for cards chat"
  ui/src/app/_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-js

Revert "#361 | Change folder format of context to file format"
  app/api/api_basics.py
  app/knowledge/markdown.py
  app/knowledge/pack.py
  app/knowledge_manager.py
  app/tests/test_api.py
  app/tests/test_data/test_knowledge_pack/contexts/context_a.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/architecture.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/business_context.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/frontend_coding_patterns.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b/.gitkeep
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-1-architecture.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-2-coding.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-3-business-nocat-w-system.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-5-user-input-help.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/first-step-prompt-1234.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/follow-up-prompt-2345.md
  app/tests/test_knowledge_pack.py
  app/tests/test_prompts.py
  app/tests/utils.py
  ui/src/pages/_app.js
Due: check-header-py, check-header-js

Refactor test.
  app/knowledge/pack.py
  app/prompts/prompts.py
  app/tests/test_data/test_knowledge_pack/contexts/context_a/context.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-6-context.md
  app/tests/test_prompts.py
Due: check-header-py

Fix context from knowledge pack not showing up after an interaction
  ui/src/app/_prompt_chat.js
Due: check-header-js

Only show review status if it actually has content
  ui/src/app/_card_actions.js
Due: check-header-js

Add AI Tools research prompt
  app/api/api_company_research.py
  app/resources/prompts_guided/guided-ai-tool-research.md
  ui/src/__tests__/_dynamic_data_renderer.test.js
  ui/src/app/_dynamic_data_renderer.js
  ui/src/pages/company-research.js
Due: check-header-py, check-header-js

Refactor: Make company-research more configurable
  ui/src/pages/company-research.js
Due: check-header-js

Generate more: Improve prompt to avoid duplications
  ui/src/pages/_cards-chat.js
Due: check-header-js

AI tools research: Give more instructions about objectivity
  app/resources/prompts_guided/guided-ai-tool-research.md
Due: none

Add user defined context in cards page
  app/api/api_multi_step.py
  ui/src/pages/_cards-chat.js
Due: check-header-py, check-header-js

Pass user defined context to chat exploreation window
  app/api/api_multi_step.py
  app/prompts/prompts.py
  ui/src/pages/_cards-chat.js
  ui/src/pages/_chat_exploration.js
Due: check-header-py, check-header-js

Collapsible input area for cards chat
  ui/src/__tests__/_cards_chat.test.js
  ui/src/app/_chat.js
  ui/src/app/_prompt_preview.js
  ui/src/app/_prompt_sample_input.js
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-js

Revert "Revert "#361 | Change folder format of context to file format""
  app/api/api_basics.py
  app/knowledge/markdown.py
  app/knowledge/pack.py
  app/knowledge_manager.py
  app/tests/test_api.py
  app/tests/test_data/test_knowledge_pack/contexts/context_a.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/architecture.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/business_context.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/frontend_coding_patterns.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b/.gitkeep
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-1-architecture.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-2-coding.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-3-business-nocat-w-system.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-5-user-input-help.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/first-step-prompt-1234.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/follow-up-prompt-2345.md
  app/tests/test_knowledge_pack.py
  app/tests/test_prompts.py
  app/tests/utils.py
  ui/src/pages/_app.js
Due: check-header-py, check-header-js

#361 | Add more logs
  app/api/api_basics.py
Due: check-header-py

Path conditions:
  check-header-py: any of: \.(py)$, but not: ^$
  check-header-js: any of: \.(js)$, but not: ^$
