Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

check-header-py:
  name: Check for license header in Python files
  entry: .precommit/check_header.sh
  language: system

check-header-js:
  name: Check for license header in JS files
  entry: .precommit/check_header.sh
  language: system

Add codified section to dashboard
  ui/src/pages/index.js
  ui/src/styles/globals.css
Due: check-header-js

Fix style of the dashboard with codified practices
  ui/src/pages/index.js
  ui/src/styles/globals.css
Due: check-header-js

Remove None placeholder document from displaying in Knowledge overview page
  ui/src/pages/knowledge.js
Due: check-header-js

Update Disclaimer text and make it responsive
  ui/src/pages/_chat_header.js
  ui/src/styles/globals.css
Due: check-header-js

Add edit query functionality
  ui/src/app/_chat.js
Due: check-header-js

Enhance message editing to delete child messages when editing
  ui/src/app/_chat.js
Due: check-header-js

Rename disclaimer related code to be more appropriate
  app/api/api_basics.py
  app/api/boba_api.py
  app/app.py
  app/config/constants.py
  app/disclaimer_and_guidelines.py
  app/tests/test_api.py
  ui/src/__tests__/_index.test.js
  ui/src/app/_boba_api.js
  ui/src/app/_disclaimer_popup.js
  ui/src/app/_layout.js
  ui/src/pages/about.js
  ui/src/pages/index.js
Due: check-header-py, check-header-js

Move inline styles to css file. Remove custom style for text as the default one looks better
  ui/src/app/_disclaimer_popup.js
  ui/src/styles/globals.css
Due: check-header-js

Formatting
  ui/src/app/_chat.js
Due: check-header-js

Fix: Hide unnecessary scrollbar
  ui/src/styles/globals.css
Due: none

Backend endpoint that serves "inspirations"
  app/api/api_basics.py
  app/api/boba_api.py
  app/prompts/inspirations.py
  app/resources/inspirations.json
  app/tests/test_api.py
  app/tests/test_inspirations.py
Due: check-header-py

Cursor rules
  .cursor/rules/backend-rules.mdc
  .cursor/rules/frontend-rules.mdc
  .cursor/rules/test-rules.mdc
  .cursorrules
Due: none

Refactor chat message edit functionality logic
  ui/src/app/_chat.js
Due: check-header-js

Upgrade frontend packages. Upgrade tailwindcss from v3 to v4
  ui/package.json
  ui/postcss.config.js
  ui/yarn.lock
Due: check-header-js

Upgrade vitest
  ui/package.json
  ui/yarn.lock
Due: none

Add inspirations feature to dashboard with feature toggle
  ui/src/app/_boba_api.js
  ui/src/pages/index.js
  ui/src/styles/globals.css
Due: check-header-js

Remove obsolete code
  ui/src/app/_cards-list.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/creative-matrix.js
  ui/src/styles/globals.css
Due: check-header-js

Refactoring: Load feature toggle config only once
  ui/src/__tests__/_cards_chat.test.js
  ui/src/__tests__/_index.test.js
  ui/src/pages/_app.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/cards.js
  ui/src/pages/index.js
Due: check-header-js

Make Cursor aware of frontend structure
  .cursor/rules/frontend-rules.mdc
Due: none

Cursor: Move all rules into global file
  .cursor/rules/backend-rules.mdc
  .cursor/rules/frontend-rules.mdc
  .cursorrules
Due: none

Rename "TW Knowledge Pack" to "TW Demo Knowledge Pack"
  .vscode/launch.json
  README.md
Due: none

About: Change "Background" -> "About Haiven"
  ui/src/pages/about.js
Due: check-header-js

Explain "Advanced prompting" in starter message
  ui/src/app/_chat.js
Due: check-header-js

Add test for prompt chat component - Covered parts: Chat Header
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_prompt_chat.js
Due: check-header-js

Fix tooltip placement
  ui/src/app/_help_tooltip.js
  ui/src/app/_prompt_chat.js
Due: check-header-js

Implement inspiration loading in knowledge chat page
  ui/src/app/_boba_api.js
  ui/src/app/_chat.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/index.js
  ui/src/pages/knowledge-chat.js
Due: check-header-js

Inspirations: json -> yaml, get_by_id
  app/prompts/inspirations.py
  app/resources/inspirations.json
  app/resources/inspirations.yaml
  app/tests/test_inspirations.py
Due: check-header-py

Add GET /inspirations/{id}
  app/api/api_basics.py
  app/tests/test_api.py
Due: check-header-py

Upgrade node action
  .github/workflows/main.yml
Due: none

Turn codified practices vs inspirations into Tabs
  ui/src/pages/about.js
  ui/src/pages/index.js
  ui/src/styles/globals.css
Due: check-header-js

Cursor rules: Don't write tests for simple questions
  .cursorrules
Due: none

Add a proper list of inspirations
  app/resources/inspirations.yaml
  app/tests/test_inspirations.py
  ui/src/pages/index.js
  ui/src/styles/globals.css
Due: check-header-py, check-header-js

Remove "inspirations" feature toggle
  ui/src/__tests__/_cards_chat.test.js
  ui/src/__tests__/_index.test.js
  ui/src/pages/index.js
Due: check-header-js

Cursor rules: Add testing framework
  .cursorrules
Due: none

Update chatbox height to fit inspiration prompt
  ui/src/app/_chat.js
Due: check-header-js

Cursor rules: use remix icons
  .cursorrules
Due: none

Change "Included" to a Close button
  ui/src/__tests__/_cards_chat.test.js
  ui/src/app/_card_actions.js
  ui/src/app/_cards-list.js
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-js

Use books as icon for "Codified practices"
  ui/src/pages/index.js
Due: check-header-js

Path conditions:
  check-header-py: any of: \.(py)$, but not: ^$
  check-header-js: any of: \.(js)$, but not: ^$
