Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.4
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: ""
    hooks:
      - id: prettier
        args: ['--write']
        files: '\.jsx?$'
  - repo: local
    hooks:
      - id: check-header-py
        name: Check for license header in Python files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(py)$'
        exclude: '^$'
      - id: check-header-js
        name: Check for license header in JS files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(js)$'
        exclude: '^$'
      - id: check-cli-readme
        name: Check if the CLI Readme needs an update
        entry: .precommit/check_cli_readme.sh
        language: system
      - id: check-ui-tests
        name: Check if UI tests are passing
        entry: poetry run ui-test
        language: system

feat: implement comprehensive token usage display across all chat interfaces
  app/api/api_basics.py
  app/llms/chats.py
  app/llms/clients.py
  app/llms/model_config.py
  app/tests/test_api.py
  app/tests/test_chats.py
  app/tests/test_token_usage.py
  app/tests/test_token_usage_integration.py
  install_dev_dependencies.sh
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/__tests__/_prompt_chat_token_usage.test.js
  ui/src/app/_fetch_sse.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_chat_exploration.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/scenarios.js
Due: check-header-py, check-header-js

refactor: create reusable LLMTokenUsage component
  ui/src/__tests__/_prompt_chat_token_usage.test.js
  ui/src/app/_llm_token_usage.js
  ui/src/app/_local_store.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_chat_exploration.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/scenarios.js
Due: check-header-js

refactor: improve LLMTokenUsage with utilities and custom hook
  ui/src/__tests__/_prompt_chat_token_usage.test.js
  ui/src/app/_llm_token_usage.js
  ui/src/app/_prompt_chat.js
  ui/src/app/utils/tokenUtils.js
  ui/src/hooks/useTokenUsage.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_chat_exploration.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/scenarios.js
Due: check-header-js

BugFix scenarios: update dynamic data import, enhance scenario queries structure, and add comprehensive tests for scenarios page
  install_dev_dependencies.sh
  ui/src/__tests__/scenarios.test.js
  ui/src/pages/scenarios.js
Due: check-header-js

Fix: Apply prettier formatting via pre-commit hooks
  ui/src/__tests__/scenarios.test.js
  ui/src/pages/scenarios.js
Due: check-header-js

fix: Add missing license header
  ui/src/__tests__/scenarios.test.js
Due: check-header-js

feat: Add Haiven MCP Server for AI IDE integration
  .pre-commit-config.yaml
  mcp-server/.gitignore
  mcp-server/AUTHENTICATION.md
  mcp-server/DEVELOPER_GUIDE.md
  mcp-server/Dockerfile
  mcp-server/INSTALL.bat
  mcp-server/README.md
  mcp-server/TROUBLESHOOTING.md
  mcp-server/USER_SETUP_GUIDE.md
  mcp-server/claude-desktop-config-with-cwd.json
  mcp-server/claude-desktop-config.json
  mcp-server/config_examples/environment.env.example
  mcp-server/config_examples/windsurf_config_template.json
  mcp-server/dev_setup.py
  mcp-server/dev_setup.sh
  mcp-server/easy_install.py
  mcp-server/examples/api-key-config.json
  mcp-server/examples/claude-desktop-config.json
  mcp-server/examples/cursor-config.json
  mcp-server/examples/development-config.json
  mcp-server/examples/production-config.json
  mcp-server/examples/vscode-settings.json
  mcp-server/generate_config.py
  mcp-server/install.sh
  mcp-server/mcp_server.py
  mcp-server/pyproject.toml
  mcp-server/start_server.sh
  mcp-server/test_integration.py
  mcp-server/test_mcp_connection.py
  mcp-server/test_mcp_server.py
  mcp-server/test_setup.py
  mcp-server/test_windsurf_mcp.py
  mcp-server/windsurf_config.json
Due: check-header-py

feat: Add comprehensive API key management system
  .gitignore
  app/api/api_key_management.py
  app/api/boba_api.py
  app/auth/api_key_auth.py
  app/auth/api_key_repository.py
  app/auth/file_api_key_repository.py
  app/server.py
  app/tests/test_api_key_repository.py
  app/tests/test_mcp_api_key_integration.py
  docs/API_KEY_STORAGE_GUIDE.md
  ui/src/app/_boba_api.js
  ui/src/pages/_header.js
  ui/src/pages/api-keys.js
Due: check-header-py, check-header-js

feat: Add get_prompt_text tool and restrict API key auth to MCP endpoints
  app/auth/api_key_auth.py
  app/server.py
  app/tests/test_api_key_auth.py
  docs/adr/005_adr_mcp_server.md
  mcp-server/mcp_server.py
  mcp-server/test_mcp_server.py
Due: check-header-py

chore: Remove mcp-server implementation from haiven to follow principles defined in ADR-005
  mcp-server/.gitignore
  mcp-server/AUTHENTICATION.md
  mcp-server/DEVELOPER_GUIDE.md
  mcp-server/Dockerfile
  mcp-server/INSTALL.bat
  mcp-server/README.md
  mcp-server/TROUBLESHOOTING.md
  mcp-server/USER_SETUP_GUIDE.md
  mcp-server/claude-desktop-config-with-cwd.json
  mcp-server/claude-desktop-config.json
  mcp-server/config_examples/environment.env.example
  mcp-server/config_examples/windsurf_config_template.json
  mcp-server/dev_setup.py
  mcp-server/dev_setup.sh
  mcp-server/easy_install.py
  mcp-server/examples/api-key-config.json
  mcp-server/examples/claude-desktop-config.json
  mcp-server/examples/cursor-config.json
  mcp-server/examples/development-config.json
  mcp-server/examples/production-config.json
  mcp-server/examples/vscode-settings.json
  mcp-server/generate_config.py
  mcp-server/install.sh
  mcp-server/mcp_server.py
  mcp-server/pyproject.toml
  mcp-server/start_server.sh
  mcp-server/test_integration.py
  mcp-server/test_mcp_connection.py
  mcp-server/test_mcp_server.py
  mcp-server/test_setup.py
  mcp-server/test_windsurf_mcp.py
  mcp-server/windsurf_config.json
Due: check-header-py

feat: Enhance API key repository management with config-based instantiation and file path support
  app/auth/api_key_auth.py
  app/auth/file_api_key_repository.py
  app/config.yaml
  app/config_service.py
  app/llms/clients.py
  app/tests/test_api_key_repository.py
  app/tests/test_mcp_api_key_integration.py
  app/tests/test_prompts.py
  devscripts/main.py
  docs/API_KEY_STORAGE_GUIDE.md
Due: check-header-py

Show LLM token usage
  ui/src/__tests__/_LLM_token_usage.test.js
  ui/src/__tests__/_prompt_chat_token_usage.test.js
  ui/src/app/_llm_token_usage.js
  ui/src/app/_local_store.js
  ui/src/app/_prompt_chat.js
  ui/src/app/feature_toggle.js
  ui/src/app/utils/tokenUtils.js
  ui/src/hooks/useTokenUsage.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_chat_exploration.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/scenarios.js
  ui/src/styles/globals.css
Due: check-header-js

feat: Implement API key management enhancements with pseudonymization and repository validation
  app/api/api_basics.py
  app/api/api_key_management.py
  app/api/boba_api.py
  app/app.py
  app/auth/api_key_auth.py
  app/auth/api_key_auth_service.py
  app/auth/api_key_repository.py
  app/auth/file_api_key_repository.py
  app/config.yaml
  app/config_service.py
  app/server.py
  app/tests/test_api.py
  app/tests/test_api_key_auth.py
  app/tests/test_api_key_repository.py
  app/tests/test_config_service.py
  app/tests/test_main.py
  app/tests/test_server.py
Due: check-header-py

Fix formatting
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_fetch_sse.js
Due: check-header-js

build fix: linting issues
  README.md
  app/api/api_basics.py
  app/llms/chats.py
  app/llms/clients.py
  app/llms/model_config.py
  app/tests/test_api.py
  app/tests/test_chats.py
  app/tests/test_token_usage.py
  app/tests/test_token_usage_integration.py
Due: check-header-py

fix:vitest import issues
  ui/src/__tests__/_llm_token_usage.test.js
Due: check-header-js

Add .gitignore and remove tracked files that should be ignored
  app/api/api_basics.py
  app/config.yaml
  app/llms/model_config.py
  app/resources/inspirations.yaml
  app/tests/test_api.py
  docs/PROJECT_STRUCTURE.md
  ui/package.json
Due: check-header-py

feat(api_key_auth): refactor API key repository management using a factory pattern
  .aiignore
  .junie/guidelines.md
  app/api/api_basics.py
  app/api/api_key_management.py
  app/api/boba_api.py
  app/app.py
  app/auth/api_key_auth_service.py
  app/auth/api_key_repository.py
  app/auth/api_key_repository_factory.py
  app/auth/file_api_key_repository.py
  app/server.py
  app/tests/test_api.py
  app/tests/test_api_key_auth_service.py
  app/tests/test_api_key_repository.py
  app/tests/test_server.py
  docs/API_KEY_STORAGE_GUIDE.md
  poetry.toml
  ui/src/pages/api-keys.js
Due: check-header-py, check-header-js

Bug fix: aggregate token usage at page level and display in tooltip
  .gitignore
  ui/src/__tests__/_llm_token_usage.test.js
  ui/src/app/_enrich_card.js
  ui/src/app/_llm_token_usage.js
  ui/src/app/_prompt_chat.js
  ui/src/app/utils/__tests__/_aggregate_token_usage.test.js
  ui/src/app/utils/__tests__/_sse_event_filter.test.js
  ui/src/app/utils/_aggregate_token_usage.js
  ui/src/app/utils/_sse_event_filter.js
  ui/src/app/utils/tokenUtils.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_chat_exploration.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/scenarios.js
  ui/src/styles/globals.css
  ui/vite.config.mjs
Due: check-header-js

upgrade: update dependencies in pyproject.toml and poetry.lock
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
Due: none

feat(api_key_auth): add expiry days parameter to API key generation
  app/api/api_key_management.py
  app/auth/api_key_auth_service.py
  app/tests/test_api.py
  app/tests/test_api_key_auth_service.py
  app/tests/test_api_key_repository.py
  ui/src/app/_boba_api.js
  ui/src/pages/api-keys.js
  ui/src/styles/globals.css
  ui/vite.config.mjs
Due: check-header-py, check-header-js

Change Delivery Mangement to Delivery
  ui/src/__tests__/_sidebar.test.js
  ui/src/app/_navigation_items.js
Due: check-header-js

bug-fix: handle metadata objects and yield as JSON string
  app/llms/chats.py
  app/tests/test_chats.py
  ui/src/app/_fetch_sse.js
Due: check-header-py, check-header-js

feat: add token usage tracking and display in CompanyCanvas
  .gitignore
  ui/src/pages/_company_canvas.js
  ui/src/pages/company-research.js
Due: check-header-js

feat(firestore): implement Firestore API key repository
  app/api/api_key_management.py
  app/app/config/api_keys.json
  app/auth/api_key_auth_service.py
  app/auth/api_key_repository_factory.py
  app/auth/firestore_api_key_repository.py
  app/config.yaml
  app/config_service.py
  app/poetry.lock
  app/pyproject.toml
  app/test_firestore_config.yaml
  app/test_firestore_integration.py
  app/test_json_serialization.py
  app/tests/test_api_key_repository.py
  app/tests/test_data/test_config.yaml
  app/tests/test_firestore_api_key_repository.py
Due: check-header-py

feat(api_key_auth): implement feature toggle for API key authentication
  app/api/api_features.py
  app/api/boba_api.py
  app/app.py
  app/auth/api_key_auth_service.py
  app/config_service.py
  app/server.py
  app/tests/test_feature_toggle.py
  app/tests/test_server.py
  ui/src/app/feature_toggle.js
  ui/src/pages/_header.js
  ui/src/pages/api-keys.js
Due: check-header-py, check-header-js

fix: adjust token usage event formatting and handle metadata conversion
  app/api/api_basics.py
Due: check-header-py

fix: handle metadata separately and prevent it from affecting JSON parsing
  ui/src/__tests__/_cards_chat.test.js
  ui/src/__tests__/test_data/cards_response_with_citations.json
  ui/src/pages/_cards-chat.js
Due: check-header-js

feat: GT037-1032 - implement download restriction for prompts and filter out restricted prompts in API responses
  app/api/api_basics.py
  app/prompts/prompts.py
  app/tests/test_api.py
  app/tests/test_prompts.py
  docs/knowledge_packs.md
  ui/src/__tests__/_download_all_prompts.test.js
  ui/src/__tests__/_download_prompt.test.js
  ui/src/__tests__/test_data/cards_response_with_citations.json
  ui/src/app/_download_all_prompts.js
  ui/src/app/_download_prompt.js
  ui/src/app/utils/promptDownloadUtils.js
Due: check-header-py, check-header-js

Fix citations and token usage not working sometimes
  app/api/api_basics.py
  app/llms/chat_events.py
  app/llms/chats.py
  app/tests/test_api.py
  app/tests/test_token_usage_integration.py
  ui/src/pages/_chat_exploration.js
Due: check-header-py, check-header-js

fix: ensure proper formatting for JSON chat events by adding newlines
  app/llms/chat_events.py
  app/llms/chats.py
Due: check-header-py

Fix failing test
  app/tests/test_chats.py
Due: check-header-py

feat(fetch_sse): handle mixed JSON and SSE events in both JSON and text modes
  ui/src/__tests__/_fetch_sse.test.js
  ui/src/app/_fetch_sse.js
Due: check-header-js

Remove token usage feature toggle
  ui/src/__tests__/_llm_token_usage.test.js
  ui/src/app/_llm_token_usage.js
Due: check-header-js

fix(dependencies): update package versions in pyproject.toml and poetry.lock
  app/poetry.lock
  app/pyproject.toml
  app/tests/test_api.py
  cli/poetry.lock
  cli/pyproject.toml
Due: check-header-py

fix(config): make API key repository type configurable via environment variable
  app/config.yaml
Due: none

fix: Failing tests due to missing configs
  app/tests/test_api_key_auth.py
  app/tests/test_main.py
Due: check-header-py
