Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

check-header-py:
  name: Check for license header in Python files
  entry: .precommit/check_header.sh
  language: system

check-header-js:
  name: Check for license header in JS files
  entry: .precommit/check_header.sh
  language: system

#361 | Fix the syntax
  app/api/api_basics.py
Due: check-header-py

Revert of #361 | Change folder format of context to file format
  app/api/api_basics.py
  app/knowledge/markdown.py
  app/knowledge/pack.py
  app/knowledge_manager.py
  app/tests/test_api.py
  app/tests/test_data/test_knowledge_pack/contexts/context_a.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/architecture.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/business_context.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/frontend_coding_patterns.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b/.gitkeep
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-1-architecture.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-2-coding.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-3-business-nocat-w-system.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-5-user-input-help.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/first-step-prompt-1234.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/follow-up-prompt-2345.md
  app/tests/test_knowledge_pack.py
  app/tests/test_prompts.py
  app/tests/utils.py
  ui/src/pages/_app.js
Due: check-header-py, check-header-js

This reverts commit 15d6379641482938e7e1348a160d751e02d398be.
  app/api/api_basics.py
  app/knowledge/markdown.py
  app/knowledge/pack.py
  app/knowledge_manager.py
  app/tests/test_api.py
  app/tests/test_data/test_knowledge_pack/contexts/context_a.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/architecture.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/business_context.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/frontend_coding_patterns.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b/.gitkeep
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-1-architecture.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-2-coding.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-3-business-nocat-w-system.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-5-user-input-help.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/first-step-prompt-1234.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/follow-up-prompt-2345.md
  app/tests/test_knowledge_pack.py
  app/tests/test_prompts.py
  app/tests/utils.py
  ui/src/pages/_app.js
Due: check-header-py, check-header-js

#361 | Add more logs
  app/knowledge/markdown.py
  app/knowledge/pack.py
Due: check-header-py

Remove feature toggle for add user context feature
  ui/src/__tests__/_context_choice.test.js
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/__tests__/pinboard.test.js
  ui/src/app/_context_choice.js
  ui/src/pages/pinboard.js
Due: check-header-js

This reverts commit 27e0850e72d417ba8480f0838f06d8c7a5a79400.
  app/api/api_basics.py
  app/knowledge/markdown.py
  app/knowledge/pack.py
  app/knowledge_manager.py
  app/tests/test_api.py
  app/tests/test_data/test_knowledge_pack/contexts/context_a.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/architecture.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/business_context.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/frontend_coding_patterns.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b/.gitkeep
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-1-architecture.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-2-coding.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-3-business-nocat-w-system.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-5-user-input-help.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/first-step-prompt-1234.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/follow-up-prompt-2345.md
  app/tests/test_knowledge_pack.py
  app/tests/test_prompts.py
  app/tests/utils.py
  ui/src/pages/_app.js
Due: check-header-py, check-header-js

Revert "#361 | Move the files to folders"
  app/api/api_basics.py
  app/knowledge/markdown.py
  app/knowledge/pack.py
  app/knowledge_manager.py
  app/tests/test_api.py
  app/tests/test_data/test_knowledge_pack/contexts/context_a.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/architecture.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/business_context.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/frontend_coding_patterns.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b/.gitkeep
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-1-architecture.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-2-coding.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-3-business-nocat-w-system.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-5-user-input-help.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/first-step-prompt-1234.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/follow-up-prompt-2345.md
  app/tests/test_knowledge_pack.py
  app/tests/test_prompts.py
  app/tests/utils.py
  ui/src/pages/_app.js
Due: check-header-py, check-header-js

Reflect the newly added context in the dropdown immediately
  ui/src/app/_context_choice.js
  ui/src/app/_local_store.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/pinboard.js
Due: check-header-js

Relfect context updates in cards-page. Add event listener for deleting context
  ui/src/app/_local_store.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
Due: check-header-js

This reverts commit 7cb85d1494cbf9e7b658e8b79eb8da0161057e6c.
  app/api/api_basics.py
  app/knowledge/markdown.py
  app/knowledge/pack.py
  app/knowledge_manager.py
  app/tests/test_api.py
  app/tests/test_data/test_knowledge_pack/contexts/context_a.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/architecture.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/business_context.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/frontend_coding_patterns.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b/.gitkeep
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-1-architecture.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-2-coding.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-3-business-nocat-w-system.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-5-user-input-help.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/first-step-prompt-1234.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/follow-up-prompt-2345.md
  app/tests/test_knowledge_pack.py
  app/tests/test_prompts.py
  app/tests/utils.py
  ui/src/pages/_app.js
Due: check-header-py, check-header-js

Revert of '361 | Move the files to folders'
  app/api/api_basics.py
  app/knowledge/markdown.py
  app/knowledge/pack.py
  app/knowledge_manager.py
  app/tests/test_api.py
  app/tests/test_data/test_knowledge_pack/contexts/context_a.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/architecture.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/business_context.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/frontend_coding_patterns.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b/.gitkeep
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-1-architecture.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-2-coding.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-3-business-nocat-w-system.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-5-user-input-help.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/first-step-prompt-1234.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/follow-up-prompt-2345.md
  app/tests/test_knowledge_pack.py
  app/tests/test_prompts.py
  app/tests/utils.py
  ui/src/pages/_app.js
Due: check-header-py, check-header-js

361 | Move the files to folders
  app/api/api_basics.py
  app/knowledge/markdown.py
  app/knowledge/pack.py
  app/knowledge_manager.py
  app/tests/test_api.py
  app/tests/test_data/test_knowledge_pack/contexts/context_a.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/architecture.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/business_context.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/automotive-spice.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.faiss
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.kb/index.pkl
  app/tests/test_data/test_knowledge_pack/contexts/context_a/embeddings/measuring-impact-genai.md
  app/tests/test_data/test_knowledge_pack/contexts/context_a/frontend_coding_patterns.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b.md
  app/tests/test_data/test_knowledge_pack/contexts/context_b/.gitkeep
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-1-architecture.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-2-coding.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-3-business-nocat-w-system.md
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-5-user-input-help.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/first-step-prompt-1234.md
  app/tests/test_data/test_knowledge_pack/prompts/guided/follow-up-prompt-2345.md
  app/tests/test_knowledge_pack.py
  app/tests/test_prompts.py
  app/tests/utils.py
  ui/src/pages/_app.js
Due: check-header-py, check-header-js

361 | Remove extra logs that were added for debugging
  app/api/api_basics.py
  app/knowledge/markdown.py
  app/knowledge/pack.py
  app/knowledge_manager.py
Due: check-header-py

Add test for appending user context to knowledge pack context; Remove the obsolete method
  app/tests/test_data/test_knowledge_pack/contexts/context_a/context.md
  app/tests/test_prompts.py
  app/tests/test_validity_of_prompts.py
Due: check-header-py

Add backend tests for handling user context
  app/tests/test_api.py
  app/tests/test_data/test_knowledge_pack/contexts/context_a.md
  app/tests/test_prompts.py
Due: check-header-py

Removed context embedding related code and test. Fixed the skipped tests which are related to contexts
  app/knowledge/documents.py
  app/knowledge_manager.py
  app/llms/chats.py
  app/tests/test_knowledge_documents.py
Due: check-header-py

Add frontend tests for user defined context feature
  ui/src/__tests__/_cards_chat.test.js
  ui/src/__tests__/_local_store.test.js
  ui/src/__tests__/_prompt_chat.test.js
Due: check-header-js

361 | Remove redundant context key
  app/knowledge/markdown.py
  app/tests/test_data/test_knowledge_pack/contexts/context_a.md
  app/tests/test_prompts.py
Due: check-header-py

Remove obsolete code
  app/prompts/prompts.py
  app/tests/test_prompts.py
Due: check-header-py

Make document-stores to store embedding array directly instead of having context name as key and array embeddings as values
  app/api/api_basics.py
  app/embeddings/documents.py
  app/knowledge/documents.py
  app/llms/chats.py
  app/tests/test_api.py
  app/tests/test_knowledge_documents.py
Due: check-header-py

Fix dependency vulnerabilities for ui
  ui/package.json
  ui/yarn.lock
Due: none

Fix dependency vulnerabilities for be be caused by Gradio that was added for debugging/testing
  app/app.py
  app/prompts/prompts_testing_ui.py
  app/pyproject.toml
Due: check-header-py

Fix dependency vulnerabilities for be be caused by Gradio that was added for debugging/testing
  app/app.py
  app/poetry.lock
  app/prompts/prompts_testing_ui.py
  app/pyproject.toml
Due: check-header-py

Reduce scope of contexts test
  ui/src/__tests__/_cards_chat.test.js
Due: check-header-js

Upgrading the AWS connection
  app/.env.aws.template
  app/bedrock.py
  app/config.yaml
  app/config_service.py
  app/tests/test_integration.py
Due: check-header-py

Claude on AWS: Use "cross-regional inference profile"
  app/.env.aws.template
  app/config.yaml
  app/config_service.py
Due: check-header-py

Create SECURITY.md
  SECURITY.md
Due: none

Update AWS model names
  app/config.yaml
Due: none

Refresh and test Gemini config
  app/.env.gcp.template
  app/config.yaml
  app/llms/model_config.py
Due: check-header-py

Add multi select option for context dropdown
  app/api/api_basics.py
  app/knowledge/markdown.py
  app/knowledge_manager.py
  app/prompts/prompts.py
  app/tests/test_api.py
  app/tests/test_prompts.py
  app/tests/test_validity_of_knowledge.py
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_context_choice.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
Due: check-header-py, check-header-js

Remove code which was loading context from contexts parent folder as we moved to new structure
  app/knowledge/markdown.py
  app/knowledge_manager.py
  app/tests/test_knowledge_manager.py
Due: check-header-py

Update css to accomodate multi select contexts; Set maximum selection to 3
  ui/src/__tests__/_cards_chat.test.js
  ui/src/app/_context_choice.js
  ui/src/styles/globals.css
Due: check-header-js

Refactoring
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_app.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_chat_exploration.js
Due: check-header-js

Change log structure to have separate fields for usercontext and knowledge pack context
  app/api/api_basics.py
  app/api/api_multi_step.py
Due: check-header-py

Update logic to join all usercontexts
  ui/src/__tests__/_cards_chat.test.js
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
Due: check-header-js

Remove user context content to be logged as it is user's private data. Instead log the boolean to say if teh user has inculded user context or not
  app/api/api_basics.py
Due: check-header-py

Rename context as it is array now
  app/api/api_basics.py
  app/api/api_company_research.py
  app/api/api_creative_matrix.py
  app/api/api_multi_step.py
  app/api/api_scenarios.py
  app/knowledge_manager.py
  app/prompts/prompts.py
  app/tests/test_api.py
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_chat_exploration.js
Due: check-header-py, check-header-js

Fix formatting of multiple contexts when prompt is rendered
  app/knowledge/markdown.py
  app/prompts/prompts.py
  app/tests/test_prompts.py
Due: check-header-py

Path conditions:
  check-header-py: any of: \.(py)$, but not: ^$
  check-header-js: any of: \.(js)$, but not: ^$
