Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.4
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: ""
    hooks:
      - id: prettier
        args: ['--write']
        files: '\.jsx?$'
  - repo: local
    hooks:
      - id: check-header-py
        name: Check for license header in Python files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(py)$'
        exclude: '^$'
      - id: check-header-js
        name: Check for license header in JS files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(js)$'
        exclude: '^$'
      - id: check-cli-readme
        name: Check if the CLI Readme needs an update
        entry: .precommit/check_cli_readme.sh
        language: system
      - id: check-ui-tests
        name: Check if UI tests are passing
        entry: poetry run ui-test
        language: system

Extracted add new snippet modal to a separate component
  ui/src/__tests__/pinboard.test.js
  ui/src/app/_add_new_snippet_modal.js
  ui/src/pages/pinboard.js
Due: check-header-js

Change add snippet to note.
  ui/src/__tests__/pinboard.test.js
  ui/src/app/_add_new_note_modal.js
  ui/src/app/_add_new_snippet_modal.js
  ui/src/pages/pinboard.js
Due: check-header-js

set the input test area autosising fro cards to be same as chat pages
  ui/src/pages/_cards-chat.js
Due: check-header-js

Update add-notes modal styles
  ui/src/app/_add_new_note_modal.js
  ui/src/pages/pinboard.js
  ui/src/styles/globals.css
Due: check-header-js

Add margin bottom for pinboard card
  ui/src/styles/globals.css
Due: none

Add context option in pinboard. Introduce tabs to split notes/pins in one tab and contexts in another tab
  ui/src/app/_add_context_modal.js
  ui/src/app/_local_store.js
  ui/src/pages/index.js
  ui/src/pages/pinboard.js
  ui/src/styles/globals.css
Due: check-header-js

Update styles
  ui/src/pages/pinboard.js
  ui/src/styles/globals.css
Due: check-header-js

Add confirmation before cloing for add context and add note scenarios;Refactoring to extract out close confirmation code to a separate component
  ui/src/app/_add_context_modal.js
  ui/src/app/_add_new_note_modal.js
  ui/src/app/_confirm_close.js
  ui/src/app/_image_description.js
  ui/src/app/_prompt_preview.js
Due: check-header-js

Add context button near conetxt drop down
  ui/src/__tests__/_context_choice.test.js
  ui/src/app/_add_context_modal.js
  ui/src/app/_add_new_note_modal.js
  ui/src/app/_context_choice.js
  ui/src/pages/pinboard.js
  ui/src/styles/globals.css
Due: check-header-js

Load system message from the knowledge pack
  .cursorignore
  app/config/constants.py
  app/knowledge_manager.py
  app/llms/chats.py
  app/prompts/prompts.py
  app/tests/test_chats.py
  app/tests/test_data/test_knowledge_pack/prompts/system.md
  app/tests/test_knowledge_manager.py
  app/tests/test_prompts.py
  docs/knowledge_packs.md
Due: check-header-py

Refactor to extract common code to add new content
  ui/src/__tests__/pinboard.test.js
  ui/src/app/_add_context.js
  ui/src/app/_add_new_note.js
  ui/src/app/_add_new_note_modal.js
  ui/src/app/_add_user_content.js
  ui/src/app/_context_choice.js
  ui/src/pages/pinboard.js
Due: check-header-js

Add feature toggle for adding context from UI feature. Feature can be toggled in browser localstorage
  ui/src/__tests__/_context_choice.test.js
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/__tests__/feature_toggle.test.js
  ui/src/__tests__/pinboard.test.js
  ui/src/app/_context_choice.js
  ui/src/app/feature_toggle.js
  ui/src/pages/pinboard.js
Due: check-header-js

Refactor JSON chunk creation
  app/llms/chats.py
  app/tests/test_chats.py
Due: check-header-py

Remove event_stream_standard option
  app/llms/chats.py
  app/tests/test_chats.py
Due: check-header-py

Make access to "content" chunk less brittle
  app/llms/chats.py
Due: check-header-py

Ability to stream metadata in JSON stream
  app/llms/chats.py
  app/llms/clients.py
  app/llms/model_config.py
  app/tests/test_chats.py
  ui/src/app/_fetch_sse.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/scenarios.js
Due: check-header-py, check-header-js

Introduce company research endpoint
  app/api/api_basics.py
  app/api/api_company_research.py
  app/api/boba_api.py
  app/resources/prompts_guided/company_research.md
Due: check-header-py

First pass at "Company Research" page
  ui/src/pages/company-research.js
Due: check-header-js

Company research: Clean up CSS
  ui/src/app/_dynamic_data_renderer.js
  ui/src/pages/company-research.js
  ui/src/styles/globals.css
Due: check-header-js

Company research: Add model info and disclaimer
  ui/src/pages/company-research.js
Due: check-header-js

Fix loader and send button positioning
  ui/src/pages/company-research.js
  ui/src/styles/globals.css
Due: check-header-js

Fix feature toggle by parsing as json
  ui/src/__tests__/_local_store.test.js
  ui/src/__tests__/feature_toggle.test.js
  ui/src/app/_local_store.js
  ui/src/app/feature_toggle.js
Due: check-header-js

Refactoring - Move tests to right file
  ui/src/__tests__/_local_store.test.js
  ui/src/__tests__/_pinboard.test.js
Due: check-header-js

Add tests or add context and add note functionality
  ui/src/__tests__/_add_user_content.test.js
  ui/src/__tests__/_context_choice.test.js
  ui/src/__tests__/_local_store.test.js
  ui/src/__tests__/pinboard.test.js
  ui/src/app/_add_new_note.js
  ui/src/app/_add_user_content.js
  ui/src/app/_context_choice.js
  ui/src/pages/pinboard.js
  ui/src/styles/globals.css
Due: check-header-js

Update company research prompt
  app/resources/prompts_guided/company_research.md
Due: none

fix build: Delete stray testing import
  ui/src/pages/pinboard.js
Due: check-header-js

Upgrade Python dependencies
  app/poetry.lock
  app/pyproject.toml
Due: none

ui: Upgrading dev dependencies
  ui/package.json
  ui/yarn.lock
Due: none

ui: Updating some dependencies
  ui/package.json
  ui/yarn.lock
Due: none

Upgrade NextJS
  ui/package.json
  ui/yarn.lock
Due: none

Change sample input icon to line icon
  ui/src/app/_prompt_sample_input.js
Due: check-header-js

Refactor pinboard component. Add test for local_store
  ui/src/__tests__/_local_store.test.js
  ui/src/app/_add_context.js
  ui/src/app/_add_new_note.js
  ui/src/app/_local_store.js
  ui/src/pages/pinboard.js
Due: check-header-js

Use Markdown for prompt description rendering
  ui/src/pages/index.js
Due: check-header-js

Config: ALlow env vars within values
  app/config_service.py
  app/tests/test_config_service.py
Due: check-header-py

Windsurf rules
  .windsurfrules
Due: none

Move Anthropic config to Claude 3.7
  app/.env.anthropic.template
  app/config.yaml
  app/config_service.py
Due: check-header-py

Correct provider in integration test
  app/tests/test_integration.py
Due: check-header-py

Introduce logger.warn
  app/logger.py
Due: check-header-py

Use DynamicDataRenderer on cards
  ui/src/app/_cards-list.js
  ui/src/app/_dynamic_data_renderer.js
  ui/src/pages/company-research.js
Due: check-header-js

Move scenarioToText to dynamic data renderer
  ui/src/__tests__/_dynamic_data_renderer.test.js
  ui/src/app/_card_actions.js
  ui/src/app/_dynamic_data_renderer.js
Due: check-header-js
