Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.4
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: ""
    hooks:
      - id: prettier
        args: ['--write']
        files: '\.jsx?$'
  - repo: local
    hooks:
      - id: check-header-py
        name: Check for license header in Python files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(py)$'
        exclude: '^$'
      - id: check-header-js
        name: Check for license header in JS files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(js)$'
        exclude: '^$'
      - id: check-cli-readme
        name: Check if the CLI Readme needs an update
        entry: .precommit/check_cli_readme.sh
        language: system
      - id: check-ui-tests
        name: Check if UI tests are passing
        entry: poetry run ui-test
        language: system

Add more JSON instructions to research prompts
  app/resources/prompts_guided/company_research.md
  app/resources/prompts_guided/guided-ai-tool-research.md
Due: none

Analytics logging for company overviews
  app/api/api_company_research.py
Due: check-header-py

Split sidebar into "Thoughtworks" and "Software Delivery"
  ui/src/app/_navigation_items.js
  ui/src/pages/_sidebar.js
  ui/src/styles/globals.css
Due: check-header-js

Move company overview prompts to KP
  app/api/api_company_research.py
  app/api/boba_api.py
  app/resources/prompts_guided/company_research.md
  app/resources/prompts_guided/guided-ai-tool-research.md
  ui/src/pages/company-research.js
Due: check-header-py, check-header-js

Bring back print layout for company overviews
  ui/src/styles/globals.css
Due: none

Accommodate perplexity's "```json" habit
  ui/src/pages/company-research.js
Due: check-header-js

Add company overviews to client research section
  ui/src/app/_navigation_items.js
Due: check-header-js

Exclude TW-only prompt categories from "Other"
  ui/src/__tests__/_sidebar.test.js
  ui/src/app/_navigation_items.js
  ui/src/pages/_sidebar.js
Due: check-header-js

util: Launch config with TW and non-TW configs
  .vscode/launch.json
Due: none

Reset company overview on config change
  ui/src/pages/_company_canvas.js
  ui/src/pages/company-research.js
Due: check-header-js

UX: user message unstructured response; show loader immediately
  ui/src/pages/_company_canvas.js
  ui/src/pages/company-research.js
Due: check-header-js

Add inspiration: Technical diagram description
  app/resources/inspirations.yaml
Due: none

Fix test
  app/resources/inspirations.yaml
Due: none

Add error log when prompt download fails
  app/api/api_basics.py
Due: check-header-py

Fix the failing test
  app/api/api_basics.py
  app/tests/test_api.py
Due: check-header-py

Add details to the error log
  app/api/api_basics.py
Due: check-header-py

AGENT.md for OpenAI Codex
  AGENT.md
Due: none

Improve category label formatting
  ui/src/__tests__/_dynamic_data_renderer.test.js
  ui/src/app/_dynamic_data_renderer.js
  ui/src/pages/index.js
Due: check-header-js

Experimenting with Cursor background agents
  .cursor/Dockerfile
  .cursor/environment.json
Due: none

Iterate on Cursor environment
  .cursor/Dockerfile
Due: none

Iterating on Cursor bg agents
  .cursor/Dockerfile
  .cursor/environment.json
  .github/workflows/main.yml
Due: none

fix: Run UI tests in GH Actions, outside of pre-commit
  .github/workflows/main.yml
  .precommit/run_ui_tests.sh
  devscripts/main.py
  pyproject.toml
Due: check-header-py

Add json output format while rendering cards prompt and add mardown output format while downloading card prompt
  app/api/api_basics.py
  app/prompts/prompts.py
  app/tests/test_api.py
  app/tests/test_prompts.py
  ui/src/__tests__/utils/promptDownloadUtils.test.js
  ui/src/app/utils/promptDownloadUtils.js
Due: check-header-py, check-header-js

Add tests for attach follow ups logic
  app/tests/test_prompts.py
Due: check-header-py

Remove feature toggle prompt submit
  ui/src/pages/_header.js
Due: check-header-js

Remove feature toggle for Download prompts
  ui/src/app/_prompt_chat.js
  ui/src/app/feature_toggle.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/knowledge.js
Due: check-header-js

Fix pre-commit - ui tests
  .precommit/run_ui_tests.sh
Due: none

Add category for indicidual prompt download log; Add back accidentally removed css
  app/api/api_basics.py
  ui/src/styles/globals.css
Due: check-header-py

Remove the obsolete code
  .github/workflows/main.yml
Due: none

[Temp Spike code]MCP Server
  app/api/api_basics.py
  app/api/boba_api.py
  app/api_key_manager.py
  app/poetry.lock
  app/pyproject.toml
  app/server.py
Due: check-header-py

[Temp Spike code] Fix build
  app/tests/test_api.py
Due: check-header-py

Revert "[Temp Spike code] Fix build"
  app/tests/test_api.py
Due: check-header-py

Revert "[Temp Spike code]MCP Server"
  app/api/api_basics.py
  app/api/boba_api.py
  app/api_key_manager.py
  app/poetry.lock
  app/pyproject.toml
  app/server.py
Due: check-header-py

Update CLI readme to reflect latest structure. Remove create-context command related code as it is not needed because of context directory structure change
  cli/README.md
  cli/haiven_cli/app/app.py
  cli/haiven_cli/main.py
  cli/haiven_cli/services/file_service.py
  cli/tests/test_app.py
  cli/tests/test_file_service.py
  cli/tests/test_main.py
Due: check-header-py

ui to generate temp link and api key.
  app/api/api_basics.py
  app/api/boba_api.py
  app/api_key_manager.py
  app/server.py
  mcp_server/Dockerfile
  mcp_server/README.md
  mcp_server/mcp_server.py
  mcp_server/poetry.lock
  mcp_server/pyproject.toml
  ui/src/app/_boba_api.js
  ui/src/app/_navigation_items.js
  ui/src/app/_temporary_link_generator.js
  ui/src/pages/_app.js
  ui/src/pages/_header.js
  ui/src/pages/api-access.js
  ui/src/pages/generate-api-key.js
Due: check-header-py, check-header-js

Enhance install_dev_dependencies.sh: add Python 3.11, nvm, Node.js 22 setup, pin Poetry version, and improve environment consistency
  install_dev_dependencies.sh
Due: none

Add upgrade_dev_dependencies.sh to automate dependency upgrades in cli, app, and ui folders
  upgrade_dev_dependencies.sh
Due: none

Update dependencies in pyproject.toml: upgrade langchain, fastapi, Authlib, and others for improved functionality and security
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
Due: none

WIP for showing token usage
  app/llms/chats.py
  app/llms/clients.py
  app/llms/litellm_wrapper.py
  ui/src/app/_LLM_token_usage.js
  ui/src/app/_local_store.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_header.js
  ui/src/styles/globals.css
Due: check-header-py, check-header-js
