Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

check-header-py:
  name: Check for license header in Python files
  entry: .precommit/check_header.sh
  language: system

check-header-js:
  name: Check for license header in JS files
  entry: .precommit/check_header.sh
  language: system

Move "Advanced prompting" below chat input
  ui/src/app/_chat.js
Due: check-header-js

Copy Cursor rules to Copilot instructions
  .vscode/copilot-instructions.md
Due: none

Move "attach more" down everywhere; change wording for scenarios and creative matrix
  ui/src/pages/_cards-chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
Due: check-header-js

Include advanced Markdown support everywhere
  ui/src/app/_cards-list.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/knowledge.js
  ui/src/styles/globals.css
Due: check-header-js

Refactor styles of About page
  ui/src/pages/about.js
  ui/src/styles/globals.css
Due: check-header-js

Remove data-processing tab in ABout page
  ui/src/pages/about.js
  ui/src/styles/globals.css
Due: check-header-js

Fix prompt preview styling of buttons
  ui/src/styles/globals.css
Due: none

Move "Requirements breakdown" to be a regular prompt
  app/api/api_requirements.py
  app/api/boba_api.py
  app/resources/prompts_guided/requirements.md
  app/server.py
  ui/src/__tests__/_sidebar.test.js
  ui/src/app/_navigation_items.js
  ui/src/pages/_sidebar.js
  ui/src/pages/requirements.js
Due: check-header-py, check-header-js

Add user-typed entries to pinboard
  ui/src/__tests__/_pinboard.test.js
  ui/src/app/_local_store.js
  ui/src/pages/_header.js
  ui/src/pages/pinboard.js
  ui/src/styles/globals.css
Due: check-header-js

Make links to be opened in new tab instead of current tab itself
  ui/src/app/_cards-list.js
  ui/src/app/_chat.js
  ui/src/app/_image_description.js
  ui/src/app/_markdown_renderer.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/knowledge.js
  ui/src/pages/pinboard.js
Due: check-header-js

Revert "Fix: Show error message when chat session expires" as we have fixed using toastify
  app/llms/chats.py
  ui/src/app/_prompt_chat.js
  ui/src/pages/_chat_exploration.js
Due: check-header-py, check-header-js

Use the name field from Session User since the given_name field doesn't exist in all idp providers
  app/resources/html_templates/index.html
Due: none

Update correct event_type name
  .github/workflows/main.yml
Due: none

Remove ui test step as it is already run as part of precommit
  .github/workflows/main.yml
Due: none

Update style of login
  app/resources/html_templates/index.html
  app/resources/static/main.css
Due: none

Remove index.html. Instead directly login to OAuth
  app/resources/html_templates/index.html
  app/server.py
Due: check-header-py

Redirect to homepage
  app/server.py
Due: check-header-py

Show Sample Input for the prompt
  app/prompts/prompts.py
  app/tests/test_data/test_knowledge_pack/prompts/chat/uuid-5-user-input-help.md
  docs/knowledge_packs.md
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/__tests__/_prompt_sample_input.test.js
  ui/src/app/_image_description.js
  ui/src/app/_prompt_chat.js
  ui/src/app/_prompt_preview.js
  ui/src/app/_prompt_sample_input.js
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-py, check-header-js

Add Sample Input text to the link. Update style
  ui/src/app/_prompt_sample_input.js
  ui/src/styles/globals.css
Due: check-header-js

Add context tooltip if context is empty
  ui/src/app/_context_choice.js
Due: check-header-js

Add Copy action for sample input modal; Refactor modals to have same common class names
  ui/src/app/_image_description.js
  ui/src/app/_prompt_preview.js
  ui/src/app/_prompt_sample_input.js
  ui/src/styles/globals.css
Due: check-header-js

Update style of Image description
  ui/src/styles/globals.css
Due: none

Limit the maximum rows as the input text box is breaking for very long input like API input
  ui/src/app/_chat.js
Due: check-header-js

Remove not used inline styling
  ui/src/app/_chat.js
Due: check-header-js

Refactor image-description component styling. Move inline styling to css file
  ui/src/app/_image_description.js
  ui/src/styles/globals.css
Due: check-header-js

Make users to select only accepted image types; Remove not used styles
  ui/src/app/_image_description.js
  ui/src/styles/globals.css
Due: check-header-js

Remove the upload failed image from the list
  ui/src/app/_image_description.js
  ui/src/styles/globals.css
Due: check-header-js

Hide Progress bar while uploading images
  ui/src/styles/globals.css
Due: none

Use markdownrenderer component inorder to make links to open in next page
  ui/src/pages/about.js
Due: check-header-js

Update upload image tooltip
  ui/src/app/_prompt_chat.js
Due: check-header-js

Give line break between 2 sentences for upload image tooltip
  ui/src/app/_prompt_chat.js
Due: check-header-js

Formatting
  ui/src/app/_prompt_chat.js
Due: check-header-js

Add test for checking all the default rendered chat area elements
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_chat.js
  ui/src/styles/globals.css
Due: check-header-js

Change sample input icon to remix one
  ui/src/app/_prompt_sample_input.js
  ui/src/styles/globals.css
Due: check-header-js

Update Saple Input link css to be uniform with others
  ui/src/app/_prompt_sample_input.js
  ui/src/styles/globals.css
Due: check-header-js

Fix: /api/prompt/explore when no output_framing
  app/api/api_multi_step.py
Due: check-header-py

Add test for prompt chat component to verify initially renedered UI, advancing prompt options, fetch prompt response
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_chat.js
  ui/src/app/_context_choice.js
  ui/src/app/_prompt_chat.js
Due: check-header-js

Verify selected context and document are included in prompt input
  ui/src/__tests__/_context_choice.test.js
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_prompt_chat.js
Due: check-header-js

Add test to verify upload image; Refactoring test
  ui/src/__tests__/_image_description.test.js
  ui/src/__tests__/_prompt_chat.test.js
Due: check-header-js

Prompt-chat-test - Verify upload image, prompt preview, sample input
  ui/src/__tests__/_prompt_chat.test.js
Due: check-header-js

Path conditions:
  check-header-py: any of: \.(py)$, but not: ^$
  check-header-js: any of: \.(js)$, but not: ^$
