Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

check-header-py:
  name: Check for license header in Python files
  entry: .precommit/check_header.sh
  language: system

check-header-js:
  name: Check for license header in JS files
  entry: .precommit/check_header.sh
  language: system

Add more tests for multi context selection dropdown
  app/tests/test_api.py
  app/tests/test_data/test_knowledge_pack/contexts/context_b.md
  app/tests/test_prompts.py
  ui/src/__tests__/_cards_chat.test.js
  ui/src/__tests__/_context_choice.test.js
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
Due: check-header-py, check-header-js

Improve display name for Gemini 2.0 Flash
  app/config.yaml
Due: none

Add "recency" to AI tools research prompt
  app/resources/prompts_guided/guided-ai-tool-research.md
Due: none

363 | Remove {context} placeholder as it's used in system msg now
  app/api/api_basics.py
  app/api/boba_api.py
  app/knowledge_manager.py
  app/llms/chats.py
  app/prompts/prompts.py
  app/prompts/prompts_factory.py
  app/tests/test_api.py
  app/tests/test_chats.py
  app/tests/test_prompts.py
  app/tests/test_prompts_factory.py
Due: check-header-py

363 | Show the selected contexts in the view/edit prompt for visibility
  ui/src/__tests__/_prompt_preview.test.js
  ui/src/app/_prompt_chat.js
  ui/src/app/_prompt_preview.js
Due: check-header-js

Remove obsolete code
  app/embeddings/client.py
  app/tests/test_embeddings.py
Due: check-header-py

Enable multiple document selection
  app/api/api_basics.py
  app/api/api_multi_step.py
  app/knowledge/documents.py
  app/llms/chats.py
  app/tests/test_embeddings.py
  app/tests/test_knowledge_documents.py
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_app.js
Due: check-header-py, check-header-js

363 | Add missing test
  app/knowledge_manager.py
  app/prompts/prompts.py
  app/tests/test_knowledge_manager.py
Due: check-header-py

363 | Add missing test
  app/tests/test_prompts.py
Due: check-header-py

Add suffix multi-select dropdown to clearly show the max limit for dropdown.
  ui/src/__tests__/_context_choice.test.js
  ui/src/app/_context_choice.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-js

311 | Update the feedback icon to the correct one
  ui/src/pages/_app.js
Due: check-header-js

Update gcp env template
  app/.env.gcp.template
Due: none

363 | Improve the system message
  app/llms/chats.py
  app/tests/test_chats.py
Due: check-header-py

Print layout for company research
  ui/src/styles/globals.css
Due: none

Make message more clear and apt
  app/llms/chats.py
Due: check-header-py

264 | Add horizontal possibility panel with feature-toggle
  ui/src/__tests__/_cards_chat.test.js
  ui/src/__tests__/_horizontal-possibility-panel.test.js
  ui/src/__tests__/_vertical-possibility-panel.test.js
  ui/src/app/_card_actions.js
  ui/src/app/_cards-list.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_chat_exploration.js
  ui/src/pages/_horizontal-possibility-panel.js
  ui/src/pages/_vertical-possibility-panel.js
  ui/src/styles/globals.css
Due: check-header-js

264 | Fix failure of yarn build
  ui/src/pages/_horizontal-possibility-panel.js
  ui/src/pages/_vertical-possibility-panel.js
Due: check-header-js

264 | Add suggestions to card and disable generate more cards button
  ui/src/__tests__/_cards_chat.test.js
  ui/src/pages/_cards-chat.js
Due: check-header-js

264 | UI changes related to Enrich card
  ui/src/app/_cards-list.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_disclaimer.js
  ui/src/pages/_horizontal-possibility-panel.js
Due: check-header-js

Sample RAGAS script to evaluate sample RAG
  app/tests/test_ragas.py
Due: check-header-py

Fix formatting
  app/tests/test_ragas.py
Due: check-header-py

Change model to gpt4o to run ragas
  app/tests/test_ragas.py
Due: check-header-py

Fix format
  app/tests/test_ragas.py
Due: check-header-py

Add rags dependency
  app/pyproject.toml
Due: none

Update poetry lock file
  app/poetry.lock
Due: none

Revert "Change model to gpt4o to run ragas"
  app/tests/test_ragas.py
Due: check-header-py

Fix build
  app/poetry.lock
  app/pyproject.toml
  app/tests/test_ragas.py
Due: check-header-py

Fix build
  app/tests/test_ragas.py
Due: check-header-py

Incorporate feedbacks
  ui/src/__tests__/_card_action.test.js
  ui/src/app/_card_actions.js
  ui/src/app/_cards-list.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_horizontal-possibility-panel.js
Due: check-header-js

Add AWS env variables for running tests
  .github/workflows/main.yml
Due: none

Incorporate feedbacks
  ui/src/__tests__/_horizontal-possibility-panel.test.js
  ui/src/__tests__/_vertical-possibility-panel.test.js
  ui/src/app/_encrich_card.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/_horizontal-possibility-panel.js
  ui/src/pages/_vertical-possibility-panel.js
Due: check-header-js

Run poetry install with non-package mode
  install_dev_dependencies.sh
Due: none

Temp commit to fix security bug.
  app/prompts/prompts.py
  app/tests/test_prompts.py
Due: check-header-py

Fix persisting user selected context across all user sessions.Persist only for the current session
  app/api/api_basics.py
  app/api/api_company_research.py
  app/api/api_creative_matrix.py
  app/api/api_multi_step.py
  app/api/api_scenarios.py
  app/knowledge/markdown.py
  app/knowledge_manager.py
  app/llms/chats.py
  app/prompts/prompts.py
  app/tests/test_api.py
  app/tests/test_chats.py
  app/tests/test_knowledge_manager.py
  app/tests/test_prompts.py
Due: check-header-py

temp
  .deepeval_telemetry.txt
  app/.deepeval_telemetry.txt
  app/batch_evaluation_results.json
  app/deepeval_handler.py
  app/tests/conftest.py
  app/tests/export_sample_to_csv.py
  app/tests/test_data/RAG test scenarios - ragas dataset.csv
  app/tests/test_data/rag_samples.csv
  app/tests/test_deepeval_handler.py
  app/tests/test_haiven_rag.py
  app/tests/test_markdown.py
Due: check-header-py

Add contexts for iterate/enrich cards request
  app/api/api_basics.py
  ui/src/app/_encrich_card.js
  ui/src/pages/_cards-chat.js
Due: check-header-py, check-header-js

Rename file
  ui/src/app/_enrich_card.js
  ui/src/pages/_cards-chat.js
Due: check-header-js

Remove temporarily added RAG Evaluation test file
  app/tests/test_ragas.py
Due: check-header-py

Refactoring to have aggregating contexts logic in one place rather than in multiple places
  app/api/api_basics.py
  app/llms/chats.py
  app/tests/test_chats.py
Due: check-header-py

Path conditions:
  check-header-py: any of: \.(py)$, but not: ^$
  check-header-js: any of: \.(js)$, but not: ^$
