Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

check-header-py:
  name: Check for license header in Python files
  entry: .precommit/check_header.sh
  language: system

check-header-js:
  name: Check for license header in JS files
  entry: .precommit/check_header.sh
  language: system

fix(tests): mock EmbeddingsClient in test_create_server_returns_fastapi
  app/tests/test_main.py
Due: check-header-py

test(tests): add new test with skip marker for non-critical functionality
  app/tests/test_main.py
Due: check-header-py

chore: upgrade dependencies
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
Due: none

fix: update UI feature toggle for API key authentication to use API_KEY_AUTH_UI
  ui/src/app/feature_toggle.js
  ui/src/pages/_header.js
  ui/src/pages/api-keys.js
Due: check-header-js

fix: add API_KEY_AUTH_UI feature toggle for API key authentication in backend
  app/api/api_features.py
Due: check-header-py

fix: enhance session expiration logging to handle missing user email and bugfix for card enrichment prompt not displaying data / updating usage
  app/server.py
  ui/src/app/_enrich_card.js
Due: check-header-py, check-header-js

feat: add end-to-end tests for Haiven application using Playwright
  .gitignore
  README.md
  app/.env.azure.template
  app/config.yaml
  tests/.mcp.json
  tests/README.md
  tests/e2e/cards-exploration.spec.ts
  tests/e2e/client-research-sources.spec.ts
  tests/e2e/creative-matrix.spec.ts
  tests/e2e/haiven-card-tests.spec.ts
  tests/e2e/haiven.spec.ts
  tests/e2e/pinboard.spec.ts
  tests/e2e/scenario-design.spec.ts
  tests/e2e/test-utils.ts
  tests/package-lock.json
  tests/package.json
  tests/playwright.config.ts
  tests/run-e2e-tests.sh
Due: none

feat(tests): increase coverage and update Playwright configuration to suport test against demo and prod instances
  .gitignore
  tests/e2e/README.md
  tests/e2e/cards-exploration.spec.ts
  tests/e2e/client-research-sources.spec.ts
  tests/e2e/context-document-selection-patterns.spec.ts
  tests/e2e/creative-matrix.spec.ts
  tests/e2e/haiven-card-tests.spec.ts
  tests/e2e/haiven.spec.ts
  tests/e2e/image-upload-description.spec.ts
  tests/e2e/pinboard.spec.ts
  tests/e2e/scenario-design.spec.ts
  tests/e2e/test-utils.ts
  tests/package.json
  tests/playwright.config.ts
  tests/setup-auth.js
Due: check-header-js

chore: update dependencies
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
Due: none

chore: update dependencies (boto3, langchain-openai, openai) to latest versions
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
Due: none

chore: update Node.js engines, dependencies, and README for streamlined E2E setup
  .github/workflows/main.yml
  Dockerfile
  README.md
  install_dev_dependencies.sh
  tests/README.md
  tests/package.json
  tests/run-e2e-tests.sh
  ui/README.md
  ui/package.json
  ui/update_packages.js
  ui/yarn.lock
Due: check-header-js

chore: update dependencies to latest versions
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  ui/package.json
  ui/yarn.lock
Due: none

feat(tests): add test case to verify pinboard displays latest pinned items first
  tests/e2e/pinboard.spec.ts
Due: none

feat(fix): enhance chat input focus behavior after AI responses and add e2e test for the same.
  tests/e2e/chat-focus-behavior.spec.ts
  ui/src/app/_chat.js
Due: check-header-js

feat(fix): add ENABLED_CHAT_MODEL to .env templates adn fix readme
  README.md
  app/.env.anthropic.template
  app/.env.aws.template
  app/.env.azure.template
  app/.env.gcp.template
  app/.env.ollama.template
  app/.env.openai.template
Due: none

fix: update ENABLED_CHAT_MODEL in README to reflect default configuration as in template files
  README.md
Due: none

feat: add support for OpenAI provider in ModelConfig to set lite_id using model_name
  app/llms/model_config.py
Due: check-header-py

feat: add support for OpenAI provider in ModelConfig to set lite_id based on model_name
  app/llms/model_config.py
Due: check-header-py

chore: update dependencies to latest version
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  ui/yarn.lock
Due: none

feat: upgrade Python from 3.11 to 3.12
  .github/workflows/main.yml
  .python-version
  Dockerfile
  README.md
  app/.python-version
  app/poetry.lock
  app/pyproject.toml
  cli/.python-version
  cli/haiven_cli/.python-version
  cli/poetry.lock
  cli/pyproject.toml
  install_dev_dependencies.sh
  poetry.lock
  pyproject.toml
  tests/README.md
Due: none

chore: update dependencies to latest versions
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  tests/playwright.config.ts
  ui/package.json
  ui/yarn.lock
Due: none

feat: add endpoints for managing and retrieving rules with enhanced auth utilities
  .cursor/rules/backend-rules.mdc
  .cursor/rules/test-rules.mdc
  app/api/api_basics.py
  app/api/api_rules.py
  app/api/boba_api.py
  app/auth/api_key_auth_service.py
  app/auth/auth_util.py
  app/tests/test_api.py
  app/tests/test_api_rules.py
  app/tests/test_auth_util.py
  app/tests/test_data/test_config.yaml
  app/tests/test_data/test_knowledge_pack/prompts/rules/casper_workflow_prompt.md
  app/tests/test_server.py
Due: check-header-py

feat: implement download functionality for rules with README generation
  ui/src/__tests__/_download_rules.test.js
  ui/src/app/_boba_api.js
  ui/src/app/_download_rules.js
  ui/src/app/utils/rulesDownloadUtils.js
  ui/src/pages/_app.js
  ui/src/pages/knowledge.js
Due: check-header-js

test: increase timeout for fetch assertions in PromptChat tests and ensure image upload is awaited
  ui/src/__tests__/_prompt_chat.test.js
Due: check-header-js

chore: update dependencies to latest versions
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  ui/yarn.lock
Due: none

chore: update dependencies to latest versions
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
Due: none

chore: update dependencies to latest versions across backend and frontend
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  ui/package.json
  ui/src/__tests__/_cards_chat.test.js
  ui/yarn.lock
Due: check-header-js

test: increase timeout for tooltip appearance in PromptChat tests and update Vite config for test timeout
  ui/src/__tests__/_prompt_chat.test.js
  ui/vite.config.mjs
Due: check-header-js

chore: update cli dependencies in poetry.lock and pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
Due: none

Revert "chore: update cli dependencies in poetry.lock and pyproject.toml"
  cli/poetry.lock
  cli/pyproject.toml
Due: none

chore: update langchain-community version to 0.3.30 in poetry.lock and pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
Due: none

chore: update langchain-community version to 0.3.30 in pyproject.toml and poetry.lock
  app/poetry.lock
  app/pyproject.toml
Due: none

chore: enhance dependency installation scripts and update dependencies
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  install_dev_dependencies.sh
  ui/package.json
  ui/yarn.lock
  upgrade_dev_dependencies.sh
Due: none

Update config.yaml
  app/config.yaml
Due: none

chore: Upgrade dependencies
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  ui/package.json
  ui/yarn.lock
Due: none

test: increase timeout for CardsChat and PromptChat tests to improve reliability
  ui/src/__tests__/_cards_chat.test.js
  ui/src/__tests__/_prompt_chat.test.js
Due: check-header-js

Path conditions:
  check-header-py: any of: \.(py)$, but not: ^$
  check-header-js: any of: \.(js)$, but not: ^$
