Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

check-header-py:
  name: Check for license header in Python files
  entry: .precommit/check_header.sh
  language: system

check-header-js:
  name: Check for license header in JS files
  entry: .precommit/check_header.sh
  language: system

Minor Style changes
  ui/src/app/_card_actions.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/styles/globals.css
Due: check-header-js

Update card styles to accomodate titles of varying lengths
  ui/src/styles/globals.css
Due: none

Ability to hide KP prompts from the navigation
  app/prompts/prompts.py
  app/tests/test_prompts.py
  ui/src/pages/_sidebar.js
  ui/src/pages/index.js
Due: check-header-py, check-header-js

Remove misleading error message
  ui/src/pages/_cards-chat.js
Due: check-header-js

Fix opening of explore chat on cards page
  ui/src/pages/_cards-chat.js
Due: check-header-js

Fix: 422 when generating story summary
  app/api/api_story_validation.py
  ui/src/pages/story-validation.js
Due: check-header-py, check-header-js

Fix test
  app/tests/test_api.py
Due: check-header-py

Add Editor/preview mode for View Prompt popup
  ui/package.json
  ui/src/app/_prompt_preview.js
  ui/src/styles/globals.css
  ui/yarn.lock
Due: check-header-js

Add start chat button in prompt prieview
  ui/src/app/_prompt_preview.js
  ui/src/styles/globals.css
Due: check-header-js

Render edit mode or preview mode according to edit button click
  ui/package.json
  ui/src/app/_prompt_preview.js
  ui/src/styles/globals.css
  ui/yarn.lock
Due: check-header-js

Story validation API: More optional parameters
  app/api/api_story_validation.py
Due: check-header-py

Refactoring: Introduce a useLoader hook
  ui/src/__tests__/_cards_chat.test.js
  ui/src/app/_image_description.js
  ui/src/hooks/useLoader.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/story-validation.js
Due: check-header-js

Add "cards" route to list of /boba forwards
  app/server.py
Due: check-header-py

Show edited prompt in the chat conversation
  ui/src/app/_prompt_chat.js
  ui/src/app/_prompt_preview.js
Due: check-header-js

Refactoring: Introduce cards list component
  ui/src/app/_cards-list.js
  ui/src/pages/threat-modelling.js
Due: check-header-js

Fix: Enable start chat button in prompt prieview
  ui/src/app/_prompt_preview.js
Due: check-header-js

Cards chat: Hide prompt panel on submit
  ui/src/__tests__/_cards_chat.test.js
  ui/src/pages/_cards-chat.js
Due: check-header-js

Use <CardsList/> in cards chat page
  ui/src/app/_cards-list.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/threat-modelling.js
Due: check-header-js

Send modified prompt as user input to the prompt API in prompt preview
  ui/src/app/_prompt_chat.js
  ui/src/app/_prompt_preview.js
Due: check-header-js

Handle edge cases on closing preview prompt modal woth edit changes; Style changes for close confirmation modal
  ui/src/app/_prompt_preview.js
  ui/src/pages/requirements.js
  ui/src/styles/globals.css
Due: check-header-js

revert code which was mistakenly commited
  ui/src/pages/requirements.js
Due: check-header-js

Style propt preview confirmation modal
  ui/src/app/_prompt_preview.js
  ui/src/styles/globals.css
Due: check-header-js

Change the start chat button color in prompt preview
  ui/src/styles/globals.css
Due: none

Refactor code
  ui/src/app/_prompt_chat.js
  ui/src/app/_prompt_preview.js
Due: check-header-js

Cards page: Temporary inline style fixes
  ui/src/app/_cards-list.js
  ui/src/pages/_cards-chat.js
Due: check-header-js

Test for threat modelling page, integration test for CardsList
  ui/src/__tests__/threat-modelling.test.js
  ui/src/pages/threat-modelling.js
Due: check-header-js

On render, set prompt id to render right prompt
  ui/src/app/_prompt_chat.js
  ui/src/app/_prompt_preview.js
Due: check-header-js

Fix css class name
  ui/src/styles/globals.css
Due: none

Use <CardsList> in scenario design page
  ui/src/pages/scenarios.js
  ui/src/pages/threat-modelling.js
Due: check-header-js

Use <CardsList/> in requirements breakdown page
  ui/src/pages/requirements.js
Due: check-header-js

Do not copy/pin "hidden" properties
  ui/src/app/_card_actions.js
Due: check-header-js

Do not show explore action if no handler
  ui/src/app/_card_actions.js
Due: check-header-js

"hide" the thought in story validation prompt output
  app/resources/prompts_guided/story_validation.md
Due: none

Some restyling of the cards and follow-ups
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-js

Support mock responses for UI testing
  app/llms/clients.py
Due: check-header-py

Remove unused dependency
  ui/package.json
Due: none

Style changes for Prompt preview modal
  ui/src/styles/globals.css
Due: none

Change the helper text position to bottom
  ui/src/app/_help_tooltip.js
  ui/src/styles/globals.css
Due: check-header-js

Fix preview changes confirmation modal css
  ui/src/styles/globals.css
Due: none

Path conditions:
  check-header-py: any of: \.(py)$, but not: ^$
  check-header-js: any of: \.(js)$, but not: ^$
