Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.4
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: ""
    hooks:
      - id: prettier
        args: ['--write']
        files: '\.jsx?$'
  - repo: local
    hooks:
      - id: check-header-py
        name: Check for license header in Python files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(py)$'
        exclude: '^$'
      - id: check-header-js
        name: Check for license header in JS files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(js)$'
        exclude: '^$'
      - id: check-cli-readme
        name: Check if the CLI Readme needs an update
        entry: .precommit/check_cli_readme.sh
        language: system
      - id: check-ui-tests
        name: Check if UI tests are passing
        entry: poetry run ui-test
        language: system

Fix ui test to run in local pre-commit
  .pre-commit-config.yaml
  .precommit/run_ui_tests.sh
Due: none

Fix border-line in chat with haiven page
  ui/src/styles/globals.css
Due: none

Fix chat content aligned and remove timestamp
  ui/src/app/_chat.js
  ui/src/styles/globals.css
Due: check-header-js

Update user input label in requirements break down and story validation pages
  ui/src/pages/requirements.js
  ui/src/pages/story-validation.js
Due: check-header-js

Fix the input field size in threat modelling and requirements breakdown page
  ui/src/pages/requirements.js
  ui/src/pages/threat-modelling.js
Due: check-header-js

Remove i icon next to the user input in chat with haiven page
  ui/src/app/_prompt_chat.js
  ui/src/pages/chat.js
  ui/src/pages/knowledge-chat.js
Due: check-header-js

Set correct title in expanded view. Hide the prompt panel as soon as submit button is clicked without waiting the response success or failure
  ui/src/app/_prompt_chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/story-validation.js
  ui/src/pages/threat-modelling.js
Due: check-header-js

Fix test
  ui/src/__tests__/_prompt_chat.test.js
Due: check-header-js

Cleanup: Remove QAChat, not used anymore
  app/llms/chats.py
Due: check-header-py

Update and clarify user input helper
  ui/src/pages/requirements.js
  ui/src/pages/story-validation.js
  ui/src/pages/threat-modelling.js
Due: check-header-js

Refactor UI
  ui/src/app/_chat.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/requirements.js
  ui/src/pages/scenarios.js
  ui/src/pages/story-validation.js
  ui/src/pages/threat-modelling.js
  ui/src/styles/globals.css
Due: check-header-js

Set overflows to auto instead of scroll
  ui/src/styles/globals.css
Due: none

Fix Creative Matrix UI
  ui/src/styles/globals.css
Due: none

Fix pinned copy message by removing mistakenly added 'Description' keyword
  ui/src/pages/pinboard.js
Due: check-header-js

Refactor pinboard tests
  ui/src/__tests__/_pinboard.test.js
  ui/src/pages/requirements.js
Due: check-header-js

Refactor pinboard tests. Rename file
  ui/src/__tests__/_pinboard.test.js
  ui/src/app/_chat.js
  ui/src/app/_local_store.js
  ui/src/pages/requirements.js
Due: check-header-js

[WIP] add spec file for pyinstaller
  app.spec
  app/app.py
Due: check-header-py

Update header text in 'chat with haiven' page
  ui/src/app/_prompt_chat.js
Due: check-header-js

[WIP] add static file to the exe
  app.spec
  app/config_service.py
  app/main.spec
Due: check-header-py

Integration test for model clients
  app/tests/test_integration.py
  app/tests/utils.py
Due: check-header-py

update the spec and os base path
  app/main.spec
  app/prompts/prompts.py
  app/server.py
Due: check-header-py

Use LiteLLM for model requests
  app/api/api_basics.py
  app/llms/aws_chat.py
  app/llms/chats.py
  app/llms/clients.py
  app/llms/model_config.py
  app/main.py
  app/poetry.lock
  app/prompts/prompts_testing_ui.py
  app/pyproject.toml
  app/tests/test_chat_client_factory.py
  app/tests/test_chats.py
  app/tests/test_integration.py
Due: check-header-py

ADR regarding structured output frameworks
  docs/adr/004_no_structured_output_framework.md
Due: none

README: Updates test command
  README.md
Due: none

Update ui dependencies
  ui/package.json
  ui/yarn.lock
Due: none

Add styling updates to scenario cards
  ui/src/pages/requirements.js
  ui/src/styles/globals.css
Due: check-header-js

Remove unused dependencies
  app/poetry.lock
  app/pyproject.toml
Due: none

Revert "Use LiteLLM for model requests"
  app/api/api_basics.py
  app/llms/aws_chat.py
  app/llms/chats.py
  app/llms/clients.py
  app/llms/model_config.py
  app/main.py
  app/poetry.lock
  app/prompts/prompts_testing_ui.py
  app/pyproject.toml
  app/tests/test_chat_client_factory.py
  app/tests/test_chats.py
  app/tests/test_integration.py
Due: check-header-py

Revert "Remove unused dependencies"
  app/poetry.lock
  app/pyproject.toml
Due: none

Fix poetry lock file
  app/poetry.lock
Due: none

Change vars into functions, to fix test collection error
  app/tests/test_integration.py
Due: check-header-py

Make sure app can start even when some env vars are missing
  app/main.py
Due: check-header-py

Fix dashboard cards' styling when the content is lengthier
  ui/src/pages/index.js
  ui/src/styles/globals.css
Due: check-header-js

Update new styling for actions in Thread Modeliing page
  ui/src/pages/threat-modelling.js
  ui/src/styles/globals.css
Due: check-header-js

Story Validation --> User Story Refinement
  app/resources/prompts_guided/story_validation.md
  ui/src/app/_navigation_items.js
Due: check-header-js

Addede actions in Threat-modelling page
  ui/src/pages/scenarios.js
  ui/src/pages/threat-modelling.js
  ui/src/styles/globals.css
Due: check-header-js

Make sure Ollama works with LiteLLM out of Docker container
  app/llms/clients.py
Due: check-header-py

Make scenario actions non scrollable
  ui/src/pages/scenarios.js
  ui/src/styles/globals.css
Due: check-header-js

Make scenarios actions div non-scrollable for threat modelling page. Use std padding instead of static values
  ui/src/pages/threat-modelling.js
  ui/src/styles/globals.css
Due: check-header-js
