Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.4
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: ""
    hooks:
      - id: prettier
        args: ['--write']
        files: '\.jsx?$'
  - repo: local
    hooks:
      - id: check-header-py
        name: Check for license header in Python files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(py)$'
        exclude: '^$'
      - id: check-header-js
        name: Check for license header in JS files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(js)$'
        exclude: '^$'
      - id: check-cli-readme
        name: Check if the CLI Readme needs an update
        entry: .precommit/check_cli_readme.sh
        language: system
      - id: check-ui-tests
        name: Check if UI tests are passing
        entry: poetry run ui-test
        language: system

Style changes for start button disabled in prompt preview panel
  ui/src/styles/globals.css
Due: none

Remove old clipboard experiment
  ui/src/app/_clipboard.js
  ui/src/app/_clipboard_button.js
Due: check-header-js

Remove obsolete code
  app/user_feedback.py
Due: check-header-py

Cards styling: No absolute positioning
  ui/src/app/_card_actions.js
  ui/src/app/_cards-list.js
  ui/src/styles/globals.css
Due: check-header-js

Test improvement: Make sure fetch is called twice
  ui/src/__tests__/_cards_chat.test.js
Due: check-header-js

Add a long summary to the mock
  app/llms/clients.py
Due: check-header-py

Add "include" checkbox to cards, if there is follow-up
  ui/src/__tests__/_cards_chat.test.js
  ui/src/app/_card_actions.js
  ui/src/app/_cards-list.js
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-js

Remove GPT-4 and GPT-4 with-vision models from configuarations
  app/.env.azure.template
  app/config.yaml
  app/config_service.py
  app/tests/test_config_service.py
  app/tests/test_integration.py
Due: check-header-py

Change label and tooltip of Context
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_context_choice.js
Due: check-header-js

Fix: No switch of display mode for "Detailed"
  ui/src/pages/scenarios.js
Due: check-header-js

Fix height of the chat container
  ui/src/styles/globals.css
Due: none

Fix style: Enable scroll on cards pages
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-js

Revert "Fix style: Enable scroll on cards pages"
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-js

Demo: Try out the principal of iterating on cards
  app/api/api_multi_step.py
  ui/src/__tests__/_cards_chat.test.js
  ui/src/app/_prompt_chat.js
  ui/src/pages/_cards-chat.js
  ui/src/styles/globals.css
Due: check-header-py, check-header-js

bb/ss, fix: Scrolling on cards pages
  ui/src/app/_cards-list.js
  ui/src/styles/globals.css
Due: check-header-js

Properly update the follow up text
  ui/src/__tests__/_cards_chat.test.js
  ui/src/pages/_cards-chat.js
Due: check-header-js

Use litellm to call vision models
  app/llms/image_description_service.py
  app/tests/test_image_description_service.py
Due: check-header-py

rename 'Your Context' to 'Your context'
  ui/src/__tests__/_prompt_chat.test.js
  ui/src/app/_context_choice.js
Due: check-header-js

Fix chat height runtime responsive
  ui/src/styles/globals.css
Due: none

Fix: Enable or disable 'Start Chat' button in prompt preview screen upon prompt edits
  ui/src/app/_prompt_preview.js
Due: check-header-js

Update Edit button background color for disabled state in prompt preview screen
  ui/src/styles/globals.css
Due: none

Adjust the height of prompt editor in prompt preview screen
  ui/src/styles/globals.css
Due: none

Fix deployment key in azure example env
  app/.env.azure.template
Due: none

Add error message in prompt chat
  ui/src/app/_prompt_chat.js
Due: check-header-js

Hide the 'Create Stories from a User Journey Flow' screen
  ui/src/pages/index.js
Due: check-header-js

Fix: Hide the 'Create Stories from a User Journey Flow' screen
  ui/src/app/_boba_api.js
  ui/src/pages/index.js
Due: check-header-js

Add error logs in haiven logger
  app/api/api_basics.py
  app/api/api_multi_step.py
  app/llms/image_description_service.py
  app/logger.py
  app/server.py
  ui/src/app/_prompt_chat.js
Due: check-header-py, check-header-js

Add error logs for streaming and fix knowledge manager logs
  app/api/api_basics.py
  app/knowledge_manager.py
  app/llms/chats.py
  app/llms/image_description_service.py
Due: check-header-py

Add catch logger decoration in api routes
  app/api/api_basics.py
Due: check-header-py

Fix catch logger decoration
  app/api/api_basics.py
Due: check-header-py

Carry document throughout the chat conversation
  app/api/api_basics.py
  app/llms/chats.py
  app/llms/clients.py
  ui/src/app/_prompt_chat.js
Due: check-header-py, check-header-js

Make suggested answer as editable in user story refinement
  ui/src/pages/story-validation.js
Due: check-header-js

Implement conversation summarization for lengthy chats
  app/llms/chats.py
  app/llms/clients.py
Due: check-header-py

Fix: Chat with AWS models
  app/.env.aws.template
  app/config.yaml
Due: none

Fix dependency for aws embedding
  cli/poetry.lock
  cli/pyproject.toml
  ui/yarn.lock
Due: none

Include PromptId, UserId, ChatSessionKey, Context as part of Analytics Logging for chat page and card page
  app/api/api_basics.py
  app/api/api_multi_step.py
  app/api/api_story_validation.py
  app/llms/chats.py
  ui/src/app/_prompt_chat.js
  ui/src/pages/story-validation.js
Due: check-header-py, check-header-js

Fix backend test
  app/tests/test_api.py
Due: check-header-py

Add origin_url to analytics logging
  app/api/api_basics.py
  app/api/api_creative_matrix.py
  app/api/api_multi_step.py
  app/api/api_requirements.py
  app/api/api_scenarios.py
  app/api/api_story_validation.py
Due: check-header-py

Add user id for logging for requirements and scenarios page
  app/api/api_requirements.py
  app/api/api_scenarios.py
Due: check-header-py

Remove prompt id which was early created for logging purpose. Since we are logging the url which has prompt_id, removing promptId created for logging
  app/api/api_basics.py
  app/api/api_multi_step.py
  app/api/api_requirements.py
  app/api/api_scenarios.py
  app/api/api_story_validation.py
  ui/src/app/_prompt_chat.js
  ui/src/pages/story-validation.js
Due: check-header-py, check-header-js
